<script lang="ts">
	import { get_character, set_character } from '$lib/queries';
	import {
		character_id,
		character,
		enhanced_accessibility,
		accessibility_font_size
	} from '$lib/utils.js';
	import SaveReset from '$lib/SaveReset.svelte';
	import { Textarea } from 'flowbite-svelte';
	import { toast } from '@zerodevx/svelte-toast';

	// Synchronize character from the backend
	async function sync_character(id: number | null): Promise<void> {
		$character = id === null ? null : (await get_character(id)).expect('Failed to reach backend');
	}
	$: sync_character($character_id);
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<div>
	{#if $character_id !== null && $character !== null}
		<Textarea
			unWrappedClass={font_size}
			rows={20}
			bind:value={$character.notes}
		/>
		<SaveReset
			reset={() => sync_character($character_id)}
			save={() => {
				/* @ts-expect-error: If not null above */
				set_character($character);
				toast.push('Saved');
			}}
		/>
	{/if}
</div>
