<script lang="ts">
	import { messages, add_message, load_messages } from '$lib/chat';
	import { Button, Timeline, TimelineItem, Input, Label } from 'flowbite-svelte';
	import Select from '$lib/Select.svelte';
	import { T } from '@tolgee/svelte';
	import {
		accessibility_font_size,
		enhanced_accessibility,
		is_player,
		label_class,
		raise_error
	} from '$lib/utils';
	import { fellowship_auth } from '$lib/fellowship_auth';
	import { toast } from '@zerodevx/svelte-toast';
	import { fellowship, get_players } from '$lib/fellowship_auth';
	import { onMount } from 'svelte';
	onMount(() => {
		load_messages();
	});

	function get_username(): string {
		if ($is_player) {
			let auth = $fellowship_auth;
			if (auth == null) {
				raise_error('fellowship is null. This is a bug');
			}
			return auth.player;
		} else {
			return to_username;
		}
	}

	async function send() {
		if (message.length == 0) {
			toast.push('Cannot send empty message');
			return;
		}
		try {
			const username = get_username();
			await add_message(username, message);
			message = '';
		} catch (error) {
			console.log(error);
			toast.push(`Failed to process message ${error}`);
		}
	}

	const formatDate = (date_to_parse: string) => {
		const date = Date.parse(date_to_parse);
		const options: Intl.DateTimeFormatOptions = {
			year: 'numeric',
			month: 'long',
			day: 'numeric',
			hour: 'numeric',
			minute: 'numeric',
			hour12: false
		};
		return new Date(date).toLocaleDateString('en-US', options);
	};

	let message = '';
	let to_username = '';
	$: players = get_players($fellowship);
	$: font_size = $enhanced_accessibility ? accessibility_font_size : 'text-base';
	const p_class = 'mb-4 {font_size} font-normal text-gray-500 dark:text-gray-400';
</script>

<div>
	<!-- Sending message -->
	<div class="m-5 flex justify-center">
		{#if !$is_player}
			<Label class="{label_class} {font_size}">
				<T keyName="player" />
			</Label>
			<Select
				backend_items={players}
				auto_labels={true}
				bind:value={to_username}
				on:change={() => load_messages(to_username)}
			/>
		{/if}
	</div>
	<div class="flex">
		<Input
			class={font_size}
			type="text"
			bind:value={message}
		/>
		<Button
			class={font_size}
			on:click={send}
		>
			<T keyName="send" />
		</Button>
	</div>
	<!-- History -->
	<Timeline>
		{#each $messages as mess, i (i)}
			<TimelineItem
				date={formatDate(mess.date)}
				title={mess.player}
			>
				{#if mess.to_loremaster}
					<p class="{p_class} text-right {font_size}">
						{mess.text}
					</p>
				{:else}
					<p class="{p_class} {font_size}">
						{mess.text}
					</p>
				{/if}
			</TimelineItem>
		{/each}
	</Timeline>
</div>
