<script lang="ts">
	import {
		get_character,
		rest as query_rest,
		convert_shadow as query_convert_shadow
	} from '$lib/queries';
	import {
		character_id,
		character,
		accessibility_font_size,
		enhanced_accessibility
	} from '$lib/utils.js';
	import { to_clipboard } from '$lib/clipboard';
	import Description from '$lib/character/Description.svelte';
	import Undertaking from '$lib/fellowship/Undertaking.svelte';
	import LevelUp from '$lib/character/LevelUp.svelte';
	import { SpeedDial, Button, Listgroup, ListgroupItem } from 'flowbite-svelte';
	import { T } from '@tolgee/svelte';
	import { toast } from '@zerodevx/svelte-toast';
	import AddToFellowshipModal from '$lib/character/AddToFellowshipModal.svelte';

	// Synchronize character from the backend
	async function sync_character(id: number | null): Promise<void> {
		$character = id === null ? null : (await get_character(id)).expect('Failed to reach backend');
	}
	$: sync_character($character_id);

	// Use a rest action
	async function rest(long: boolean): Promise<void> {
		if ($character_id === null) {
			toast.push('Cannot rest with a null character. This is a bug, please contact me');
			return;
		}
		await query_rest($character_id, long);
		await sync_character($character_id);
		dial_open = false;
	}

	// Convert shadow to scars
	async function convert_shadow() {
		if ($character_id === null) {
			toast.push('Cannot convert shadow with a null character. This is a bug, please contact me');
			return;
		}
		await query_convert_shadow($character_id);
		await sync_character($character_id);
		dial_open = false;
	}

	// Open / close the speed dial
	let dial_open = false;
	// Open / close the level up page
	let level_up_open = false;
	// Open / close the undertaking page
	let undertaking_open = false;
	// Open / close the add to fellowship page
	let add_to_fellowship_open = false;
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<div class="pb-10">
	{#if $character_id !== null && $character !== null}
		<AddToFellowshipModal
			bind:character={$character}
			bind:open={add_to_fellowship_open}
		/>
		<LevelUp
			bind:character={$character}
			bind:open={level_up_open}
		/>
		<Undertaking
			calling={$character.calling}
			character_id={$character_id}
			submit={() => sync_character($character_id)}
			bind:open={undertaking_open}
		/>
		<Description bind:character={$character} />
		<slot />
		<SpeedDial
			defaultClass="fixed right-4 bottom-6 z-50"
			placement="top-end"
			tooltip="none"
			bind:open={dial_open}
		>
			<Listgroup active>
				<ListgroupItem class="flex">
					<Button
						class="m-auto {font_size}"
						on:click={() => rest(false)}
					>
						<T keyName="short_rest" />
					</Button>
				</ListgroupItem>
				<ListgroupItem class="flex">
					<Button
						class="m-auto  {font_size}"
						on:click={() => rest(true)}
					>
						<T keyName="long_rest" />
					</Button>
				</ListgroupItem>
				<ListgroupItem class="flex">
					<Button
						class="m-auto  {font_size}"
						on:click={() => {
							dial_open = false;
							undertaking_open = true;
						}}
					>
						<T keyName="fellowship_phase" />
					</Button>
				</ListgroupItem>
				<ListgroupItem class="flex">
					<Button
						class="m-auto  {font_size}"
						on:click={convert_shadow}
					>
						<T keyName="convert_shadow" />
					</Button>
				</ListgroupItem>
				<ListgroupItem class="flex">
					<Button
						class="m-auto  {font_size}"
						on:click={() => {
							dial_open = false;
							level_up_open = true;
						}}
					>
						<T keyName="spend_xp" />
					</Button>
				</ListgroupItem>
				<ListgroupItem class="flex">
					<Button
						class="m-auto  {font_size}"
						on:click={() => to_clipboard(JSON.stringify($character))}
					>
						<T keyName="copy_to_clipboard" />
					</Button>
				</ListgroupItem>
				<ListgroupItem class="flex">
					<Button
						class="m-auto  {font_size}"
						on:click={() => {
							dial_open = false;
							add_to_fellowship_open = true;
						}}
					>
						<T keyName="add_to_fellowship" />
					</Button>
				</ListgroupItem>
			</Listgroup>
		</SpeedDial>
	{/if}
</div>
