<script lang="ts">
	import { character } from '$lib/utils.js';
	import Summary from '$lib/character/Summary.svelte';
</script>

<div>
	{#if $character !== null}
		<Summary bind:character={$character} />
	{/if}
</div>
