<script lang="ts">
	import '../app.pcss';
	import { onMount } from 'svelte';
	import {
		set_character,
		character_id,
		tolgee,
		is_player,
		sleep,
		init_language,
		enhanced_accessibility,
		accessibility_font_size
	} from '$lib/utils';
	import {
		init_backend,
		get_list_characters,
		get_character,
		auth,
		use_auth,
		requires_authentication,
		check_authentication,
		create_user,
		setup_sockets
	} from '$lib/queries';
	import { SvelteToast } from '@zerodevx/svelte-toast';
	import {
		Input,
		Button,
		Label,
		DarkMode,
		Navbar,
		NavHamburger,
		NavUl,
		NavLi,
		Dropdown,
		DropdownItem
	} from 'flowbite-svelte';
	import { ChevronDownOutline, HomeSolid, DiscordSolid } from 'flowbite-svelte-icons';
	import { T, TolgeeProvider } from '@tolgee/svelte';
	import RandomNameGenerator from '$lib/tools/RandomNameGenerator.svelte';
	import RandomFeature from '$lib/tools/RandomFeature.svelte';
	import RollAnalysis from '$lib/tools/RollAnalysis.svelte';
	import ShuffleList from '$lib/tools/ShuffleList.svelte';
	import { toast } from '@zerodevx/svelte-toast';
	import { store_remove, store_get, store_set } from '$lib/store';
	import Battle from '$lib/icons/Battle.svelte';
	import { init_fellowship } from '$lib/fellowship_auth';

	onMount(() => {
		init();
	});

	async function check_auth(): Promise<void> {
		let required = (await requires_authentication()).expect('Failed to check if auth is needed');
		if (!required) {
			$auth = {
				username: 'not-used',
				password: 'not-used'
			};
			$use_auth = false;
			authenticated = true;
		}

		const local_data = await store_get('auth');
		if (local_data != null) {
			const local_auth = JSON.parse(local_data);
			username = local_auth.username;
			password = local_auth.password;
			await login(false);
		}

		while (!authenticated) {
			await sleep(100);
		}
	}

	async function login(notify = true): Promise<void> {
		let ok = await check_authentication(username, password);
		if (ok) {
			$auth = {
				username: username,
				password: password
			};
			await store_set('auth', JSON.stringify($auth));
			authenticated = true;
		} else if (notify) {
			toast.push('Failed to login');
		}
	}

	async function create(): Promise<void> {
		if (username.length == 0 || password.length == 0) {
			toast.push('Please provide both a username and a password before creating the account');
			return;
		}
		let ok = await create_user(username, password);
		if (!ok) {
			return;
		}
		await login();
	}

	async function logout(): Promise<void> {
		await store_remove('auth');
		$auth = null;
		authenticated = false;
		username = '';
		password = '';
	}

	async function init() {
		// Init app + auth
		await init_backend();
		await check_auth();
		console.log('Auth is done');

		// Language and accessibility
		await init_language();
		enhanced_accessibility.set((await store_get('accessibility', 'false')) == 'true');

		// Manage character
		characters = (await get_list_characters()).expect('Failed to reach backend');

		// Manage Fellowship
		await init_fellowship();

		// Manage initial page
		let is_root = window.location.pathname == '/';
		if (characters.length == 0 && is_root) {
			window.location.pathname = create_path;
			return;
		} else if ($character_id === null || characters.indexOf($character_id) == -1) {
			set_character(characters[0]);
		}
		character_id.subscribe(async (x) => {
			if (x == null) {
				character_name = '';
			} else {
				const character = (await get_character(x)).expect('Failed to get character');
				character_name = character.name;
			}
		});

		// Setup socket
		await setup_sockets();
	}

	function mobile_toggle(toggle: () => void) {
		const mobileNavBreakpoint = 768;
		if (innerWidth < mobileNavBreakpoint) {
			toggle();
		}
	}

	const create_path = '/frontend/new-character';
	let characters: number[] = [];
	let authenticated = false;
	let username = '';
	let password = '';

	let open_random_features = false;
	let open_name_generator = false;
	let open_roll_analysis = false;
	let open_shuffle_list = false;
	const icon_class = 'content-center dark:text-gray-400 text-center';
	const button_class =
		'text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none rounded-lg text-sm';

	// Manage screen size
	let innerWidth = 0;
	const max_size = 800;
	let character_name = '';
	$: margin_size = Math.max(0, (innerWidth - max_size) / 2);
	$: home = $is_player ? '/frontend/character' : '/frontend/dashboard';
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
	$: margin_top = $enhanced_accessibility ? '120px' : '80px';
</script>

<svelte:window bind:innerWidth />
<TolgeeProvider {tolgee}>
	<div class="relative m-4">
		<Navbar
			let:toggle
			let:hidden
			class="fixed start-0 top-0 z-20 border-b px-2 py-2.5 sm:px-4"
		>
			<div class="flex grow md:order-2">
				<NavHamburger
					size={$enhanced_accessibility ? 'lg' : 'md'}
					on:click={() => mobile_toggle(toggle)}
					class="dark:text-gray-400"
				/>

				<!-- Right menu -->
				<span class="full_width flex items-center">
					<a
						class={icon_class}
						href={home}
					>
						<HomeSolid size={$enhanced_accessibility ? 'lg' : 'md'} />
					</a>
					{#if $is_player}
						<a
							class={icon_class}
							href="/frontend/dashboard"
						>
							<Battle />
						</a>
					{/if}
					<span class="align-items-center grow">
						<span class="flex justify-center gap-x-2">
							<Label
								class="break-after-avoid content-center text-center dark:text-gray-300 {font_size}"
							>
								{#if $is_player}
									{character_name}
								{/if}
							</Label>
						</span>
					</span>
					<a
						class={icon_class}
						href="https://discord.gg/ZFstbnfppZ"
					>
						<DiscordSolid size={$enhanced_accessibility ? 'lg' : 'md'} />
					</a>
				</span>
			</div>
			<!-- Left menu -->
			<NavUl {hidden}>
				<NavLi
					class={font_size}
					on:click={() => mobile_toggle(toggle)}
					href="/frontend/dashboard"
				>
					<T keyName="dashboard" />
				</NavLi>
				{#if $is_player}
					<NavLi
						class={font_size}
						on:click={() => mobile_toggle(toggle)}
						href="/"
					>
						<T keyName="select_character" />
					</NavLi>
					{#if characters.length > 0}
						<NavLi
							class={font_size}
							on:click={() => mobile_toggle(toggle)}
							href="/frontend/edit"
						>
							<T keyName="edit" />
						</NavLi>
					{/if}
				{:else}
					<NavLi
						class={font_size}
						on:click={() => mobile_toggle(toggle)}
						href="/frontend/adversaries"
					>
						<T keyName="adversaries" />
					</NavLi>
					<NavLi
						class={font_size}
						on:click={() => mobile_toggle(toggle)}
						href="/frontend/fellowship"
					>
						<T keyName="fellowship" />
					</NavLi>
				{/if}
				<NavLi class="cursor-pointer {font_size}">
					<T keyName="tools" />
					<ChevronDownOutline class="ms-2 inline h-6 w-6 text-primary-800 dark:text-white" />
				</NavLi>
				<Dropdown class="z-20 w-44">
					<DropdownItem
						class={font_size}
						on:click={() => {
							open_name_generator = true;
							mobile_toggle(toggle);
						}}
					>
						<T keyName="name_generator" />
					</DropdownItem>
					<DropdownItem
						class={font_size}
						on:click={() => {
							open_random_features = true;
							mobile_toggle(toggle);
						}}
					>
						<T keyName="random_features" />
					</DropdownItem>
					<DropdownItem
						class={font_size}
						on:click={() => {
							open_roll_analysis = true;
							mobile_toggle(toggle);
						}}
					>
						<T keyName="roll_analysis" />
					</DropdownItem>
					<DropdownItem
						class={font_size}
						on:click={() => {
							open_shuffle_list = true;
							mobile_toggle(toggle);
						}}
					>
						<T keyName="shuffle_list" />
					</DropdownItem>
				</Dropdown>
				<NavLi
					class={font_size}
					on:click={() => mobile_toggle(toggle)}
					href="/frontend/chat"
				>
					<T keyName="chat" />
				</NavLi>
				<NavLi
					class={font_size}
					on:click={() => mobile_toggle(toggle)}
					href="/frontend/settings"
				>
					<T keyName="settings" />
				</NavLi>
				<NavLi
					class={font_size}
					on:click={() => mobile_toggle(toggle)}
					href="/frontend/faq"
				>
					<T keyName="faq" />
				</NavLi>
				{#if authenticated && $use_auth}
					<NavLi
						class="cursor-pointer {font_size}"
						on:click={() => {
							mobile_toggle(toggle);
							logout();
						}}
					>
						<T keyName="logout" />
					</NavLi>
				{/if}
				<DarkMode
					size={$enhanced_accessibility ? 'lg' : 'md'}
					btnClass={button_class}
				/>
			</NavUl>
		</Navbar>
		<SvelteToast />

		<!-- Modal -->
		<RandomNameGenerator bind:open={open_name_generator} />
		<RandomFeature bind:open={open_random_features} />
		<RollAnalysis bind:open={open_roll_analysis} />
		<ShuffleList bind:open={open_shuffle_list} />

		{#if authenticated}
			<div
				style:margin-top={margin_top}
				style:margin-left="{margin_size}px"
				style:margin-right="{margin_size}px"
			>
				<slot />
			</div>
		{:else}
			<div
				style:margin-top="120px"
				style:margin-left="{margin_size}px"
				style:margin-right="{margin_size}px"
			>
				<form>
					<Label>Username</Label>
					<Input
						type="text"
						bind:value={username}
					/>
					<Label>Password</Label>
					<Input
						type="password"
						bind:value={password}
					/>
					<Button
						type="submit"
						on:click={() => login()}>Submit</Button
					>
					<Button on:click={create}>Create</Button>
				</form>
			</div>
		{/if}
	</div></TolgeeProvider
>

<style>
	.full_width {
		width: 100%;
	}
</style>
