<script lang="ts">
	import { onMount } from 'svelte';
	import { accessibility_font_size, character_id, enhanced_accessibility } from '$lib/utils';
	import {
		set_character,
		get_list_characters,
		get_character,
		delete_character as query_delete_character
	} from '$lib/queries';
	import { toast } from '@zerodevx/svelte-toast';
	import { ExclamationCircleOutline } from 'flowbite-svelte-icons';
	import { Listgroup, ListgroupItem, Label, Modal, Button } from 'flowbite-svelte';
	import CharacterItem from '$lib/CharacterItem.svelte';
	import { T } from '@tolgee/svelte';
	import type { Character } from '$lib/bindings/Character';
	import { get_clipboard } from '$lib/clipboard';
	import { Colors } from '$lib/enum';
	onMount(() => {
		init();
	});

	async function init() {
		let new_ids = (await get_list_characters()).expect('Failed to reach backend');

		// Populate characters before triggering change
		characters = new Map();
		for (const id of new_ids) {
			const char = (await get_character(id)).expect('Failed to reach backend');
			characters.set(id, char);
		}

		// Trigger change and start pulling characters
		ids = new_ids;
	}

	async function delete_character(id: number | null) {
		if (id == null) {
			toast.push('Cannot delete id null. This is a bug, please report it');
			return;
		}
		await query_delete_character(id);
		$character_id = null;
		await init();
		open_modal = false;
	}

	async function new_character_from_clipboard() {
		try {
			const data = await get_clipboard();
			const new_char: Character = JSON.parse(data);

			// Reset all ids
			new_char.id = null;
			for (let i = 0; i < new_char.characteristics.valor.advantages.length; i++) {
				new_char.characteristics.valor.advantages[i].id = null;
			}
			for (let i = 0; i < new_char.characteristics.wisdom.advantages.length; i++) {
				new_char.characteristics.wisdom.advantages[i].id = null;
			}
			for (let i = 0; i < new_char.items.weapons.length; i++) {
				new_char.items.weapons[i].id = null;
			}
			for (let i = 0; i < new_char.items.shields.length; i++) {
				new_char.items.shields[i].id = null;
			}
			for (let i = 0; i < new_char.items.armors.length; i++) {
				new_char.items.armors[i].id = null;
			}
			for (let i = 0; i < new_char.items.equipments.length; i++) {
				new_char.items.equipments[i].id = null;
			}
			await set_character(new_char);
			await init();
		} catch (error) {
			toast.push(`Failed to paste character: ${error}`);
		}
	}

	function get_character_local(id: number): Character {
		const char = characters.get(id);
		if (char === undefined) {
			toast.push('Failed to get local character. This is a bug, please report it');
			throw 'Failed to get character';
		}
		return char;
	}

	let ids: number[] = [];
	let characters: Map<number, Character> = new Map();
	let open_modal = false;
	let delete_id: number | null = null;
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<div>
	<Modal
		outsideclose
		title="Delete Character"
		bind:open={open_modal}
	>
		{#if delete_id != null}
			<div class="text-center">
				<ExclamationCircleOutline class="mx-auto mb-4 h-12 w-12 text-gray-400 dark:text-gray-200" />
				<h3 class="mb-5 {font_size} font-normal text-gray-500 dark:text-gray-400">
					<T keyName="confirm_delete" />
					{characters.get(delete_id)?.name}?
				</h3>
				<Button
					class={font_size}
					style="background-color: {Colors.Red}"
					on:click={() => delete_character(delete_id)}
				>
					<T keyName="yes" />
				</Button>
				<Button
					class={font_size}
					color="alternative"
					on:click={() => (open_modal = false)}
				>
					<T keyName="no" />
				</Button>
			</div>
		{/if}
	</Modal>
	<Listgroup active>
		{#each ids as id (id)}
			<CharacterItem
				{id}
				character={get_character_local(id)}
				delete_character={() => {
					delete_id = id;
					open_modal = true;
				}}
			/>
		{/each}
		<ListgroupItem href="/frontend/new-character">
			<Label class={font_size}><T keyName="new_character" /></Label>
		</ListgroupItem>
		<ListgroupItem on:click={new_character_from_clipboard}>
			<Label class={font_size}><T keyName="new_character_from_clipboard" /></Label>
		</ListgroupItem>
	</Listgroup>
</div>
