<script lang="ts">
	import { onMount } from 'svelte';
	import { Hr, Button } from 'flowbite-svelte';
	import { T } from '@tolgee/svelte';
	import { enhanced_accessibility, to_enum } from '$lib/utils';
	import { FieldTypes } from '$lib/enum';
	import Edit from '$lib/Edit.svelte';
	import {
		get_fellowships,
		set_fellowship as set_fellowship_query,
		get_fellowship,
		get_patrons,
		get_patron,
		delete_patron as delete_patron_query,
		delete_fellowship as delete_fellowship_query
	} from '$lib/queries';
	import { get_default_fellowship, get_default_patron } from '$lib/defaults';
	import type { Fellowship } from '$lib/bindings/Fellowship';
	import type { Patron } from '$lib/bindings/Patron';
	import { toast } from '@zerodevx/svelte-toast';
	import { save_fellowship_id } from '$lib/fellowship_auth';

	onMount(() => {
		init();
	});

	async function init(): Promise<void> {
		fellowships = (await get_fellowships()).expect('Failed to fetch list of fellowships');
		patrons = (await get_patrons()).expect('Failed to fetch list of patrons');
	}

	async function update_fellowship(id: number | null) {
		if (id == null) {
			toast.push('Id is null. This is a bug, please contact me');
			return;
		}
		await save_fellowship_id(id);
		fellowship = (await get_fellowship(id)).expect('Failed to get fellowship');
		patron = fellowship.patron == null ? get_default_patron() : fellowship.patron;
	}

	async function update_patron(name_or_id: number | string | null) {
		if (name_or_id == null) {
			toast.push('Name / Id is null. This is a bug, please contact me');
			return;
		}
		patron = (await get_patron(name_or_id)).expect('Failed to get patron');
		fellowship.patron = patron;
	}

	async function set_fellowship() {
		if (fellowship.patron != null && fellowship.patron.name == '') {
			fellowship.patron = null;
		}
		fellowship.id = (await set_fellowship_query(fellowship)).expect('Failed to set fellowship');
		await init();
	}

	async function delete_fellowship() {
		if (fellowship.id == null) {
			toast.push('Cannot delete a fellowship without an id');
			return;
		}
		(await delete_fellowship_query(fellowship.id)).expect('Failed to delete fellowship');
		fellowship = get_default_fellowship();
		await init();
	}
	async function delete_patron() {
		if (patron.id == null) {
			toast.push('Cannot delete a patron without an id');
			return;
		}
		(await delete_patron_query(patron.id)).expect('Failed to delete patron');
		patron = get_default_patron();
		await init();
	}

	let patrons: Patron[] = [];
	let fellowships: Fellowship[] = [];
	let fellowship = get_default_fellowship();
	let patron: Patron = get_default_patron();
	$: number_cols = $enhanced_accessibility ? 1 : 2;
	$: delete_patron_disable = fellowship.patron == null ? true : fellowship.patron.id == null;
</script>

<div>
	<div class="w-1/2">
		<Edit
			field_type={FieldTypes.Select}
			in_table={false}
			label="fellowship"
			bind:value={fellowship.id}
			on:change={() => update_fellowship(fellowship.id)}
			select_shown_values={fellowships.map((x) => x.name)}
			select_backend_values={fellowships.map((x) => {
				if (x.id == null) throw 'id is not set';
				return x.id;
			})}
		/>
	</div>
	<div class="grid grid-cols-{number_cols}">
		<Edit
			field_type={FieldTypes.Text}
			in_table={false}
			label="name"
			on:change={(fellowship.id = null)}
			bind:value={fellowship.name}
		/>
		<Edit
			field_type={FieldTypes.Number}
			in_table={false}
			label="fellowship_points"
			bind:value={fellowship.points}
		/>
		<Edit
			field_type={FieldTypes.Number}
			in_table={false}
			label="eye"
			bind:value={fellowship.eye}
		/>
	</div>
	<Button on:click={set_fellowship}>
		<T keyName="save_fellowship" />
	</Button>
	<Button on:click={delete_fellowship}>
		<T keyName="delete" />
	</Button>
	<Hr />
	<div class="grid grid-cols-{number_cols}">
		<Edit
			field_type={FieldTypes.Select}
			in_table={false}
			label="patron"
			bind:value={patron.id}
			on:change={() => update_patron(patron.id)}
			select_shown_values={patrons.map((x) => x.name)}
			select_backend_values={patrons.map((x) => {
				if (x.id == null) {
					return to_enum(x.name);
				} else {
					return x.id;
				}
			})}
		/>
		<div />
		<Edit
			field_type={FieldTypes.Text}
			in_table={false}
			label="name"
			bind:value={patron.name}
		/>
		<Edit
			field_type={FieldTypes.Number}
			in_table={false}
			label="bonus_fellowship_points"
			bind:value={patron.fellowship_points}
		/>
		<Edit
			field_type={FieldTypes.TextArea}
			in_table={false}
			label="advantage"
			bind:value={patron.advantage}
		/>
	</div>
	<Button>
		<T keyName="save_patron" />
	</Button>
	<Button
		on:click={delete_patron}
		disabled={delete_patron_disable}
	>
		<T keyName="delete" />
	</Button>
</div>
