<script lang="ts">
	import type { Adversary } from '$lib/bindings/Adversary';
	import Progress from '$lib/Progress.svelte';
	import {
		accessibility_font_size,
		enhanced_accessibility,
		label_class as default_label_class
	} from '$lib/utils';
	import { Card, Label, Li, List } from 'flowbite-svelte';
	import { T } from '@tolgee/svelte';
	import TwoLinesLabel from '$lib/TwoLinesLabel.svelte';
	import type { HateEnum } from '$lib/bindings/HateEnum';
	import { CloseCircleSolid } from 'flowbite-svelte-icons';
	import { adversary_loose } from '$lib/queries';

	export let adversary: Adversary;
	export let remove: () => Promise<void>;
	export let show_details: boolean = true;

	async function increase_endurance_hate(
		field: HateEnum | 'Endurance',
		event: CustomEvent<{ increase: number }>
	): Promise<void> {
		const increase = event.detail.increase;
		if (adversary.id == null) {
			throw 'Adversary id is null';
		}
		await adversary_loose(adversary.id, field, increase);
	}
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
	$: label_class = `${default_label_class} ${font_size}`;
</script>

<Card>
	{#if show_details}
		<div class="flex justify-end">
			<div
				class="cursor-pointer"
				on:click={() => remove()}
			>
				<CloseCircleSolid />
			</div>
		</div>
	{/if}
	<Label class="{label_class} font-bold">
		{adversary.name}
	</Label>
	{#if show_details}
		<Label class={label_class}>
			{adversary.features.join(', ')}
		</Label>
	{/if}
	<Label class={label_class}>
		<T keyName="endurance" />
	</Label>
	<Progress
		current={adversary.endurance.current}
		enable_modal={show_details}
		label="endurance"
		max={adversary.endurance.max}
		show_values={show_details}
		on:submit={async (increase) => await increase_endurance_hate('Endurance', increase)}
	/>
	<Label class={label_class}>
		<T keyName={adversary.hate_type} />
	</Label>
	<Progress
		current={adversary.hate.current}
		enable_modal={show_details}
		label={adversary.hate_type}
		max={adversary.hate.max}
		show_values={show_details}
		on:submit={async (increase) => await increase_endurance_hate(adversary.hate_type, increase)}
	/>
	{#if show_details}
		<TwoLinesLabel
			down="attribute level"
			up={adversary.attribute_level}
		/>
	{/if}
	<div class="grid grid-cols-3">
		{#if show_details}
			<TwoLinesLabel
				down="might"
				up={adversary.might}
			/>
		{:else}
			<div />
		{/if}
		<TwoLinesLabel
			down="parry"
			up={adversary.parry}
		/>
		{#if show_details}
			<TwoLinesLabel
				down="armour"
				up={adversary.armour}
			/>
		{:else}
			<div />
		{/if}
	</div>
	<div>
		<b class={label_class}><T keyName="combat_proficiency" /></b>
		<List>
			{#each adversary.combat_proficiencies as prof}
				<Li class={label_class}>
					{prof.weapon}
					{#if show_details}
						{prof.rating} ({prof.damage}/{prof.injury}
						{prof.special_damages.join(',')})
					{/if}
				</Li>
			{/each}
		</List>
	</div>
	{#if show_details}
		<div>
			<b class={label_class}><T keyName="fell_abilities" /></b>
			<List>
				{#each adversary.abilities as ab}
					<Li class={label_class}>
						{ab.title}: {ab.description}
					</Li>
				{/each}
			</List>
		</div>
	{/if}
</Card>
