<script lang="ts">
	import {
		accessibility_font_size,
		enhanced_accessibility,
		label_class as default_label_class
	} from '$lib/utils';
	import { Label, Card, Modal } from 'flowbite-svelte';
	import Progress from '$lib/Progress.svelte';
	import TwoLinesLabel from '$lib/TwoLinesLabel.svelte';
	import { T } from '@tolgee/svelte';
	import { CloseCircleSolid, HomeSolid } from 'flowbite-svelte-icons';
	import Description from '../character/Description.svelte';
	import Summary from '../character/Summary.svelte';
	import Skills from '../character/Skills.svelte';
	import SecondaryAttribute from '../character/SecondaryAttribute.svelte';
	import CombatSkills from '../character/CombatSkills.svelte';
	import Equipments from '../character/Equipments.svelte';
	import { Attributes, NavPages } from '$lib/character/utils';
	import type { Character } from '$lib/bindings/Character';
	import { ItemTypes, SecondaryAttributeEnum } from '$lib/enum';

	// The character to display
	export let character: Character;
	// The function to call to remove a character
	export let remove_character: (id: number) => Promise<void> | void = async () => {};
	// Show all details or hide them
	export let show_details: boolean = true;

	// Function in order to navigate to the different player screens
	function navigation(new_page: NavPages): void {
		if (show_details) {
			current_description = new_page;
		}
	}

	$: attr = character.characteristics.attributes;
	$: features = [...character.distinctive_features, ...character.flaws].join(', ');
	$: injury_text =
		character.injury.duration == 0
			? '-'
			: `${character.injury.description} (${character.injury.duration})`;

	let modal_open = false;
	let current_description = NavPages.Description;
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
	$: label_class = `${default_label_class} ${font_size}`;
</script>

<Card>
	<!-- Character sheet -->
	<Modal
		autoclose
		outsideclose
		title="{character.name} ({character.player_name})"
		bind:open={modal_open}
	>
		<div
			class="flex cursor-pointer justify-center"
			on:click={() => navigation(NavPages.Description)}
		>
			<HomeSolid />
		</div>
		<Description
			{character}
			{navigation}
			readonly={true}
		/>
		{#if current_description == NavPages.Description}
			<Summary
				{character}
				{navigation}
				readonly={true}
			/>
		{:else if current_description == NavPages.Notes}
			<div>
				<div class="flex justify-center">
					<Label class={font_size}>
						<T keyName="notes" />
					</Label>
				</div>
				<p>
					{character.notes}
				</p>
			</div>
		{:else if current_description == NavPages.Strength}
			<Skills
				attribute={Attributes.Strength}
				{character}
			/>
		{:else if current_description == NavPages.Heart}
			<Skills
				attribute={Attributes.Heart}
				{character}
			/>
		{:else if current_description == NavPages.Wits}
			<Skills
				attribute={Attributes.Wits}
				{character}
			/>
		{:else if current_description == NavPages.Combat}
			<CombatSkills {character} />
		{:else if current_description == NavPages.Rewards}
			<SecondaryAttribute
				{character}
				secondary_attribute={SecondaryAttributeEnum.Valor}
			/>
		{:else if current_description == NavPages.Virtues}
			<SecondaryAttribute
				{character}
				secondary_attribute={SecondaryAttributeEnum.Wisdom}
			/>
		{:else if current_description == NavPages.Weapon}
			<Equipments
				{character}
				equipment_type={ItemTypes.Weapon}
				readonly={true}
			/>
		{:else if current_description == NavPages.Armor}
			<Equipments
				{character}
				equipment_type={ItemTypes.Armor}
				readonly={true}
			/>
		{:else if current_description == NavPages.Shield}
			<Equipments
				{character}
				equipment_type={ItemTypes.Shield}
				readonly={true}
			/>
		{:else if current_description == NavPages.Equipment}
			<Equipments
				{character}
				equipment_type={ItemTypes.Equipment}
				readonly={true}
			/>
		{:else}
			<Label class={font_size}>Navigation error</Label>
		{/if}
	</Modal>

	<!-- Character summary -->
	{#if show_details}
		<div class="flex justify-end">
			<div
				class="cursor-pointer"
				on:click={() => {
					if (character.id != null) remove_character(character.id);
				}}
			>
				<CloseCircleSolid />
			</div>
		</div>
	{/if}
	<div
		class="cursor-pointer"
		on:click={() => {
			if (show_details) {
				modal_open = true;
			}
		}}
	>
		<Label class={label_class}>
			<b>
				{character.name}
			</b>
			<br />
			{character.player_name}
		</Label>
		{#if show_details}
			<Label class={label_class}>
				{features}
			</Label>
		{/if}
		<Label class={label_class}>
			<T keyName="endurance" />
		</Label>
		<Progress
			current={attr.endurance.current}
			enable_modal={false}
			label="endurance"
			max={attr.endurance.max}
			show_values={show_details}
			threshold={character.derived.total_load_fatigue}
		/>
		<Label class={label_class}>
			<T keyName="hope" />
		</Label>
		<Progress
			current={attr.hope.current}
			enable_modal={false}
			label="hope"
			max={attr.hope.max}
			show_values={show_details}
			threshold={attr.shadow.derived.total_shadow}
		/>
		{#if show_details}
			<div class="grid grid-cols-3">
				<TwoLinesLabel
					down="parry"
					up={character.derived.total_parry}
				/>
				<TwoLinesLabel
					down="fatigue"
					up={attr.fatigue}
				/>
				<TwoLinesLabel
					down="injury"
					up={injury_text}
				/>
			</div>
		{/if}
	</div>
</Card>
