<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();
	import { is_dark, enhanced_accessibility } from '$lib/utils';

	$: color = is_dark() ? 'white' : 'black';
	$: size = $enhanced_accessibility ? '86px' : '24px';
</script>

<svg
	on:click={(event) => {
		dispatch('click', event);
	}}
	xmlns="http://www.w3.org/2000/svg"
	width={size}
	height={size}
	viewBox="0 0 24 24"
	{...$$props}
>
	<g
		fill="none"
		stroke={color}
		stroke-linejoin="round"
		stroke-width="1.5"
	>
		<path
			stroke-linecap="round"
			d="M11.7 1.173a.6.6 0 0 1 .6 0l8.926 5.154a.6.6 0 0 1 .3.52v10.307a.6.6 0 0 1-.3.52L12.3 22.826a.6.6 0 0 1-.6 0l-8.926-5.154a.6.6 0 0 1-.3-.52V6.847a.6.6 0 0 1 .3-.52z"
		/>
		<path
			stroke-linecap="round"
			d="M17 15H7l5-8z"
		/>
		<path
			d="M2.5 6.5L12 7m-9.5-.5L7 15m14.5-8.5L17 15m4.5-8.5L12 7V1m9.5 16.5L17 15M2.5 17.5L7 15m0 0l5 8l5-8"
		/>
	</g>
</svg>
