<script lang="ts">
	import type { FeatResult } from '$lib/bindings/FeatResult';
	import { is_dark } from '$lib/utils';
	import { enhanced_accessibility } from '$lib/utils';

	export let value: FeatResult;

	function get_value_in_filename(value: FeatResult) {
		if (value == 'AutomaticSuccess') {
			return 'gandalf';
		} else if (value == 'CriticalFailure') {
			return '0';
		} else {
			return value['Normal'];
		}
	}

	$: theme = is_dark() ? 'light' : 'dark';

	$: size = $enhanced_accessibility ? '120px' : '60px';
</script>

<div style:max-height={size}>
	<img src={`/feat-${get_value_in_filename(value)}-${theme}.png`} />
</div>

<style>
	img {
		float: left;
	}
</style>
