<script lang="ts">
	import { is_dark, enhanced_accessibility } from '$lib/utils';

	export let value;
	$: theme = is_dark() ? 'light' : 'dark';
	$: size = $enhanced_accessibility ? '120px' : '60px';
</script>

<div style:max-height={size}>
	<img src={`/skill-${value}-${theme}.png`} />
</div>

<style>
	img {
		float: left;
	}
</style>
