<script lang="ts">
	import { Hr } from 'flowbite-svelte';
	import {
		get_combat_skills,
		get_skills,
		can_upgrade_skill,
		can_upgrade_combat_skill,
		get_initial_skill_cost,
		get_initial_combat_skill_cost
	} from '$lib/queries';
	import { onMount } from 'svelte';
	import SingleSkill from '$lib/character/SingleSkill.svelte';
	import SelectAdvantage from '$lib/character/SelectAdvantage.svelte';
	import { toast } from '@zerodevx/svelte-toast';
	import type { Choices } from '$lib/bindings/Choices';
	import type { SkillEnum } from '$lib/bindings/SkillEnum';
	import type { CombatSkillEnum } from '$lib/bindings/CombatSkillEnum';
	import type { CombatSkills } from '$lib/bindings/CombatSkills';
	import type { Culture } from '$lib/bindings/Culture';
	import { AdvantageType } from '$lib/advantage';
	import { SecondaryAttributeEnum } from '$lib/enum';

	// The culture picked
	export let character_culture: Culture;
	// The value of each character combat skill
	export let character_combat_skills: CombatSkills;
	// The list of choices made by the player
	export let choices: Choices;

	// List of skills to disable
	let enabled_skills: SkillEnum[] = [];
	// List of skills to disable
	let enabled_combat_skills: CombatSkillEnum[] = [];

	onMount(() => {
		get_enums();
	});

	// Get all the existing enums
	async function get_enums() {
		skills = (await get_skills()).expect('Cannot reach backend');
		combat_skills = (await get_combat_skills()).expect('Cannot reach backend');
	}

	// Lock the skills that are too expansive
	async function set_lock(culture: Culture, previous_experience: number) {
		if (previous_experience === undefined) {
			return false;
		}
		enabled_skills = (await can_upgrade_skill(previous_experience, culture.skills)).expect(
			'Failed to contact backend'
		);
		return true;
	}

	// Lock the combat skills that are too expansive
	async function set_lock_combat(skills: CombatSkills, previous_experience: number) {
		if (previous_experience === undefined) {
			return false;
		}
		enabled_combat_skills = (
			await can_upgrade_combat_skill(previous_experience, skills.skills)
		).expect('Failed to contact backend');
		return true;
	}

	// Increase or decrease the value of a skill
	async function skill_update(index: number, value: number) {
		if (value != 1 && value != -1) {
			toast.push('This should never happen');
		}
		let new_value = character_culture.skills[index] + (value == 1 ? value : 0);

		let cost = (await get_initial_skill_cost(new_value)).expect('Failed to contact backend');

		if (value > 0 && cost > choices.previous_experience) {
			return;
		}
		choices.previous_experience -= Math.sign(value) * cost;
		character_culture.skills[index] += value;
	}

	// Increase or decrease the value of a combat skill
	async function combat_skill_update(index: number, value: number) {
		if (value != 1 && value != -1) {
			toast.push('This should never happen');
		}
		let new_value = character_combat_skills.skills[index] + (value == 1 ? value : 0);

		let cost = (await get_initial_combat_skill_cost(new_value)).expect('Failed to contact backend');

		if (value > 0 && cost > choices.previous_experience) {
			return;
		}
		choices.previous_experience -= Math.sign(value) * cost;
		character_combat_skills.skills[index] += value;
	}

	/*
	 * Function to check if a skill is enabled
	 * @param {Array} enabled The list of skilled enabled
	 * @param {String} label The label of the skill to check
	 */
	function is_enabled<T>(enabled: T[], label: T) {
		return enabled.findIndex((x) => x === label) !== -1;
	}

	// The list of all skills
	let skills: SkillEnum[] = [];
	// The list of all combat skills
	let combat_skills: CombatSkillEnum[] = [];

	$: set_lock(character_culture, choices.previous_experience);
	$: set_lock_combat(character_combat_skills, choices.previous_experience);

	// Number of rows / colums in the skill tables
	const columns = [...Array(3).keys()];
	const rows = [...Array(6).keys()];
</script>

<div class="grid grid-cols-1">
	<!-- Skills -->
	{#each columns as column (column)}
		<table class="m-auto">
			{#each rows as row (row)}
				{@const index = column * 6 + row}
				<SingleSkill
					disabled={!is_enabled(enabled_skills, skills[index])}
					label={skills[index]}
					on_change={(value) => skill_update(index, value)}
					total={4}
					bind:value={character_culture.skills[index]}
				/>
			{/each}
		</table>
	{/each}

	<Hr />

	<!-- Combat Skills -->
	<table class="m-auto">
		{#each combat_skills as skill, i (skill)}
			<SingleSkill
				disabled={!is_enabled(enabled_combat_skills, combat_skills[i])}
				label={skill}
				on_change={(value) => combat_skill_update(i, value)}
				total={3}
				bind:value={character_combat_skills.skills[i]}
			/>
		{/each}
	</table>
	<Hr />
	<SelectAdvantage
		advantage_label={AdvantageType.Virtue}
		creation={true}
		culture={choices.culture}
		secondary_attribute_label={SecondaryAttributeEnum.Wisdom}
		bind:new_advantage={choices.virtue}
	/>
	<Hr />
	<SelectAdvantage
		advantage_label={AdvantageType.Reward}
		creation={true}
		culture={choices.culture}
		secondary_attribute_label={SecondaryAttributeEnum.Valor}
		bind:new_advantage={choices.reward}
	/>
</div>

<style>
	table {
		border-spacing: 5px;
		border-collapse: separate;
	}
</style>
