<script lang="ts">
	import { character } from '$lib/utils.js';
	import CombatSkills from '$lib/character/CombatSkills.svelte';
</script>

<div>
	{#if $character !== null}
		<CombatSkills character={$character} />
	{/if}
</div>
