<script lang="ts">
	import type { Character } from '$lib/bindings/Character';
	import { accessibility_font_size, enhanced_accessibility, get_origin } from '$lib/utils';
	import { getTranslate, T } from '@tolgee/svelte';
	import { Label, Modal, Button, Input } from 'flowbite-svelte';
	import type { AddToFellowship } from '$lib/bindings/AddToFellowship';
	import { get_default_add_to_fellowship } from '$lib/defaults';
	import { add_character_to_fellowship, auth } from '$lib/queries';
	import { fellowship_auth, save_fellowship_auth } from '$lib/fellowship_auth';
	import { onMount } from 'svelte';
	import { toast } from '@zerodevx/svelte-toast';
	// t is store
	const { t } = getTranslate();
	onMount(() => {
		init();
	});

	export let open: boolean;
	export let character: Character;

	async function init() {
		if ($fellowship_auth != null) {
			data.fellowship = $fellowship_auth.fellowship;
			data.loremaster = $fellowship_auth.loremaster;
			data.user = $auth == null ? '' : $auth.username;
			server = $fellowship_auth.server.toString();
		}
	}

	async function submit() {
		if (data.user.length == 0) {
			toast.push("You can't have an empty username");
			return;
		}
		await save();
		const url = new URL(server);
		data.origin = get_origin(url);
		(await add_character_to_fellowship(url, data)).expect('Failed to add to fellowship');
		open = false;
	}

	async function save() {
		const url = new URL(server);
		await save_fellowship_auth({
			fellowship: data.fellowship,
			loremaster: data.loremaster,
			server: url,
			player: data.user
		});
	}

	let server = 'https://the-one-app.loikki.ch';
	let data: AddToFellowship = get_default_add_to_fellowship(character);
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<Modal
	outsideclose
	title={$t('add_to_fellowship')}
	bind:open
>
	<div class="grid grid-cols-2">
		<Label class={font_size}>
			<T keyName="server" />
		</Label>
		<Input
			class={font_size}
			type="text"
			bind:value={server}
		/>
		<Label class={font_size}>
			<T keyName="fellowship_name" />
		</Label>
		<Input
			class={font_size}
			type="text"
			bind:value={data.fellowship}
		/>
		<Label class={font_size}>
			<T keyName="loremaster" />
		</Label>
		<Input
			class={font_size}
			type="text"
			bind:value={data.loremaster}
		/>
		<Label class={font_size}>
			<T keyName="player_name" />
		</Label>
		<Input
			class={font_size}
			type="text"
			bind:value={data.user}
		/>
	</div>
	<Button
		class={font_size}
		on:click={async () => {
			await save();
			open = false;
		}}
	>
		<T keyName="save_locally" />
	</Button>
	<Button
		class={font_size}
		on:click={submit}
	>
		<T keyName="submit" />
	</Button>
</Modal>
