<script lang="ts">
	import { Label } from 'flowbite-svelte';
	import { T } from '@tolgee/svelte';
	import { accessibility_font_size, enhanced_accessibility } from '$lib/utils';
	export let href: string | null = null;
	export let label: string;
	export let value: number;

	let width: number;
	let height: number;
	const value_class = 'font-bold text-lg';
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<a {href}>
	<div
		class="relative m-1"
		bind:clientWidth={width}
		bind:clientHeight={height}
	>
		<div
			style:top="{0.509 * height}px"
			style:left="{0.633 * width}px"
			style:transform="translate(-50%, -50%)"
			class="absolute"
		>
			<Label class="{value_class} {font_size}">
				{value}
			</Label>
		</div>
		<div
			style:top="{0.85 * height}px"
			style:left="{0.45 * width}px"
			style:transform="translate(-100%, -50%)"
			class="absolute"
		>
			<Label class={font_size}>
				<T keyName={label} />
			</Label>
		</div>
		<svg
			version="1.1"
			viewBox="0 0 778.22087 574.33429"
		>
			<g transform="matrix(1.33333,0,0,1.33333,-1833.6126,-726.62781)">
				<path
					style:fill="#b15653"
					d="m 1410.45,801.196 c 0,0 -3.94,2.652 -4.38,5.623 -0.22,1.44 0.31,2.972 2.37,4.36 4.72,3.218 9.53,6.32 13.49,6.785 2.62,0.307 4.9,-0.468 6.72,-2.754 1.96,-2.489 3.43,-4.098 4.94,-4.657 1.03,-0.381 2.03,-0.007 3.29,0.855 1.48,0.963 3.96,3.619 6.96,6.253 2.51,2.196 5.34,4.372 8.1,5.826 3.28,1.726 6.48,2.41 9.11,1.201 3.99,-1.836 6.48,-6.099 6,-11.319 -0.45,-4.797 -3.4,-10.457 -10.25,-15.441 -0.16,-0.123 -0.39,-0.093 -0.51,0.067 -0.12,0.159 -0.09,0.388 0.07,0.51 4.94,3.985 7.65,8.212 8.62,12.077 1.39,5.535 -0.86,10.235 -4.91,11.77 -1.99,0.759 -4.26,-0.141 -6.6,-1.558 -2.48,-1.501 -4.95,-3.713 -7.23,-5.804 -3.12,-2.858 -5.88,-5.528 -7.45,-6.536 -2.49,-1.526 -4.49,-1.769 -6.41,-0.934 -1.85,0.802 -3.72,2.778 -5.97,6.035 -1.46,2.138 -3.64,2.418 -6.16,1.821 -3.37,-0.799 -7.26,-3.033 -11.12,-5.288 -1.62,-0.958 -2.15,-2.048 -2.04,-3.142 0.26,-2.678 3.78,-5.149 3.78,-5.149 0.16,-0.114 0.2,-0.341 0.09,-0.506 -0.11,-0.166 -0.34,-0.208 -0.51,-0.095 z"
				/>
				<path
					style:fill="#b15653"
					d="m 1439.36,808.781 c -0.95,-0.75 -1.04,-1.353 -1.17,-2.074 -0.19,-1.13 -0.42,-2.427 -1.63,-4.217 -0.99,-1.462 -2.7,-3.306 -5.81,-5.713 -0.46,-0.34 -0.89,-0.656 -1.33,-0.893 -2.51,-1.355 -4.59,-1.376 -6.58,-0.736 -1.88,0.605 -3.64,1.872 -5.8,3.226 -1.1,0.69 -2.31,1.364 -3.68,1.987 -0.19,0.072 -0.28,0.283 -0.21,0.47 0.08,0.188 0.29,0.282 0.47,0.21 1.47,-0.466 2.77,-1.043 4,-1.568 2.14,-0.919 3.95,-1.736 5.74,-1.945 1.38,-0.16 2.62,0.314 4.18,1.409 0.31,0.219 0.65,0.447 0.99,0.718 2.67,2.066 4.16,3.616 5.01,4.871 1.1,1.625 1.01,2.702 1.24,3.666 0.27,1.129 0.75,2.2 2.34,3.45 0.79,0.62 1.93,0.482 2.55,-0.307 0.62,-0.79 0.48,-1.934 -0.31,-2.554 z"
				/>
				<path
					style:fill="#b15653"
					d="m 1442.68,758.868 c 0,0 2.81,5.469 -1.12,8.617 -2.18,1.751 -6.38,2.653 -14.04,1.7 -2.54,-0.285 -5.01,-1.037 -7.51,-1.885 -2.48,-0.838 -4.96,-1.845 -7.53,-2.767 -5.1,-1.838 -10.44,-3.41 -16.12,-3.751 -3.5,-0.21 -7.12,0.128 -10.97,1.231 -3.15,0.903 -6.47,2.284 -9.95,4.472 -0.12,0.075 -0.16,0.238 -0.09,0.363 0.08,0.125 0.24,0.165 0.36,0.09 3.49,-2.02 6.77,-3.35 9.9,-4.034 3.74,-0.815 7.23,-0.731 10.54,-0.209 5.4,0.851 10.24,3.137 15.05,5.151 2.05,0.859 4.1,1.656 6.14,2.327 3.31,1.085 6.63,1.802 9.96,1.936 8.52,0.216 12.96,-1.414 15.21,-3.543 4.23,-4.022 0.81,-10.046 0.81,-10.046 -0.1,-0.177 -0.32,-0.242 -0.5,-0.146 -0.17,0.096 -0.24,0.317 -0.14,0.494 z"
				/>
				<path
					style:fill="#b15653"
					d="m 1375.86,766.937 c 0,0 6.85,-8.406 18.07,-11.957 5.94,-1.881 13.12,-2.336 21.11,0.57 5.21,1.874 9.46,2.987 13,3.437 3.84,0.488 6.87,0.223 9.34,-0.392 6.16,-1.531 8.92,-5.57 12.49,-8.696 3.17,-2.771 8.86,-3.599 15.01,-1.604 4.5,1.461 9.23,4.447 13.5,9.342 0.66,0.756 1.81,0.834 2.57,0.174 0.75,-0.66 0.83,-1.81 0.17,-2.566 -5.95,-6.82 -12.74,-10.273 -18.79,-11.321 -6.15,-1.066 -11.57,0.363 -14.85,3.237 -3.18,2.778 -5.5,6.541 -10.98,7.904 -2.13,0.531 -4.73,0.65 -8.05,0.318 -3.37,-0.338 -7.46,-1.109 -12.49,-2.626 -8.71,-2.599 -16.32,-1.644 -22.56,0.68 -11.36,4.228 -18.11,13.049 -18.11,13.049 -0.12,0.157 -0.1,0.386 0.06,0.511 0.16,0.124 0.39,0.097 0.51,-0.06 z"
				/>
				<path
					style:fill="#b15653"
					d="m 1502.7,714.974 c 0,0 0.54,9.484 5.83,11.484 2.7,1.021 6.67,0.342 12.75,-4.486 1.98,-1.624 3.95,-2.798 5.81,-3.758 1.39,-0.715 2.72,-1.244 4,-1.625 1.39,-0.413 2.71,-0.674 3.99,-0.658 2.06,0.025 4.02,0.511 5.73,1.749 3.12,2.253 5.68,6.217 6.93,11.854 0.63,2.88 0.84,6.166 0.77,9.799 -0.01,0.219 0.16,0.405 0.38,0.415 0.22,0.01 0.41,-0.159 0.42,-0.378 0.28,-3.709 0.12,-7.059 -0.21,-10.06 -0.7,-6.538 -2.74,-11.396 -5.83,-14.507 -2.17,-2.187 -4.83,-3.486 -7.82,-3.896 -1.85,-0.252 -3.83,-0.11 -5.86,0.455 -1.68,0.466 -3.41,1.238 -5.11,2.339 -2.04,1.314 -4.04,3.091 -6.04,5.292 -4.16,4.735 -7.09,6.242 -9.38,5.705 -4.81,-1.132 -5.56,-9.779 -5.56,-9.779 -0.02,-0.219 -0.21,-0.384 -0.43,-0.369 -0.21,0.016 -0.38,0.205 -0.37,0.424 z"
				/>
				<path
					style:fill="#b15653"
					d="m 1502.7,714.947 c 0,0 0.02,2.489 0.34,6.037 0.16,1.796 0.41,3.855 0.77,6.017 0.68,4.011 1.8,8.294 3.89,11.826 2.21,3.75 5.49,6.573 10.04,7.557 1.68,0.362 3.54,0.384 5.58,0.148 2.69,-0.456 4.89,-1.24 6.69,-2.866 1.97,-1.775 3.52,-4.512 4.71,-8.93 1.11,-4.232 5.53,-7.761 9.17,-7.027 1.82,0.368 3.41,1.784 4.22,4.536 0.53,1.799 0.7,4.135 0.47,7.069 -0.02,0.218 0.14,0.412 0.36,0.433 0.21,0.021 0.41,-0.14 0.43,-0.358 0.26,-2.318 0.22,-4.276 0.02,-5.921 -0.53,-4.454 -2.57,-6.659 -5.04,-7.487 -4.68,-1.572 -11.12,2.109 -13.43,7.448 -1.09,2.556 -2.23,4.268 -3.43,5.509 -1.37,1.419 -2.95,1.978 -4.99,2.248 -3.07,0.632 -5.59,0.269 -7.69,-0.824 -1.65,-0.854 -3.11,-2.013 -4.31,-3.486 -2.4,-2.918 -4.1,-6.642 -5.16,-10.229 -0.62,-2.053 -1.03,-4.044 -1.3,-5.787 -0.54,-3.458 -0.54,-5.914 -0.54,-5.914 0,-0.22 -0.18,-0.397 -0.4,-0.397 -0.22,10e-4 -0.4,0.179 -0.4,0.398 z"
				/>
				<path
					style:fill="#b15653"
					d="m 1675.09,620.529 c 0,0 -2.47,-3.308 -4.74,-8.324 -1.18,-2.616 -2.25,-5.695 -2.97,-8.981 -0.63,-2.923 -0.87,-5.992 -0.61,-9.063 0.23,-2.788 0.95,-5.558 2.44,-8.181 1.19,-2.398 2.5,-4.558 3.7,-6.632 3.64,-6.287 6.92,-11.457 8.18,-16.806 0.69,-2.926 0.76,-5.896 -0.11,-9.196 -0.65,-2.476 -1.81,-5.147 -3.7,-8.104 -0.16,-0.26 -0.49,-0.347 -0.75,-0.195 -0.26,0.153 -0.35,0.488 -0.2,0.748 1.56,2.936 2.5,5.533 2.88,7.925 0.47,2.95 0.06,5.533 -0.85,7.999 -1.82,4.911 -5.88,9.166 -9.82,14.864 -1.44,2.095 -2.8,4.413 -4.14,6.92 -1.29,2.75 -2.03,5.56 -2.2,8.385 -0.16,2.831 0.16,5.637 0.82,8.343 1.01,4.104 2.76,7.909 4.57,11.178 3.23,5.828 6.64,9.802 6.64,9.802 0.19,0.236 0.54,0.274 0.77,0.085 0.24,-0.188 0.28,-0.532 0.09,-0.767 z"
				/>
				<path
					style:fill="#b15653"
					d="m 1676.37,545.851 c 0,0 2.53,3.566 5.12,9.084 1.31,2.808 2.55,6.123 3.63,9.687 1.13,3.762 1.9,7.793 2.15,11.849 0.08,1.295 0.11,2.589 0.08,3.882 -0.02,1.276 -0.07,2.55 -0.25,3.814 -0.86,8.516 -2.59,14.671 -4.81,19.274 -2.47,5.122 -5.42,8.278 -7.98,10.635 -0.23,0.193 -0.26,0.537 -0.07,0.769 0.19,0.232 0.54,0.265 0.77,0.072 1.97,-1.49 4.12,-3.385 6.33,-5.996 1.67,-1.969 3.35,-4.328 4.96,-7.299 2.27,-4.202 4.32,-9.559 5.98,-16.583 0.44,-2.407 0.63,-4.862 0.45,-7.307 -0.27,-3.56 -1.2,-7.071 -2.42,-10.399 -1.93,-5.282 -4.71,-10.009 -7.14,-13.81 -3.23,-5.061 -5.93,-8.337 -5.93,-8.337 -0.19,-0.239 -0.53,-0.284 -0.77,-0.101 -0.24,0.184 -0.28,0.527 -0.1,0.766 z"
				/>
				<path
					style:fill="#b15653"
					d="m 1403.56,798.413 c 0,0 0.73,-6.681 4.55,-12.434 2.18,-3.277 5.39,-6.263 10.13,-7.396 1.61,-0.407 3.27,-0.78 4.91,-1.227 7.6,-2.069 15.03,-4.695 18.85,-8.325 2.86,-2.71 3.86,-6.041 1.32,-10.506 -0.09,-0.178 -0.31,-0.247 -0.49,-0.154 -0.18,0.094 -0.25,0.314 -0.15,0.492 1.94,4.026 1.05,6.933 -1.63,9.075 -3.48,2.786 -9.73,4.225 -16.24,5.514 -1.23,0.245 -2.48,0.458 -3.71,0.72 -1.25,0.266 -2.49,0.583 -3.71,0.873 -4.53,1.084 -7.92,3.535 -10.46,6.473 -5.93,6.89 -6.99,16.501 -6.99,16.501 -0.11,0.998 0.61,1.897 1.61,2.005 1,0.109 1.9,-0.613 2.01,-1.611 z"
				/>
				<path
					style:fill="#b15653"
					d="m 1538.75,783.481 c 0,0 -10.55,6.485 -18.37,15.97 -3.65,4.431 -6.66,9.529 -7.93,14.872 -1.61,7.538 -0.96,17.293 -1.08,26.961 -0.11,8.668 -0.79,17.304 -5.86,24.086 -2.96,3.957 -7.28,7.315 -13.63,9.633 -4.62,1.684 -10.26,2.796 -17.12,3.3 -0.31,0.014 -0.54,0.27 -0.52,0.571 0.01,0.301 0.27,0.534 0.57,0.52 5.43,-0.131 10.11,-0.719 14.19,-1.61 8.99,-1.964 15,-5.625 19.09,-10.327 6.15,-7.053 8.12,-16.435 8.62,-26.002 0.47,-9.313 -0.57,-18.735 1,-26.003 0.89,-4.662 3.39,-9.127 6.36,-13.107 6.96,-9.32 16.55,-16.008 16.55,-16.008 0.79,-0.515 1.01,-1.573 0.49,-2.361 -0.51,-0.788 -1.57,-1.01 -2.36,-0.495 z"
				/>
				<g transform="translate(0,-0.253401)">
					<path
						style:fill="#b15653"
						d="m 1474.73,879.392 c 0,0 6.67,0.777 15.57,-1.38 4.49,-1.088 9.54,-2.901 14.6,-5.975 5.61,-3.403 11.24,-8.305 16.09,-15.432 1.7,-2.505 3.27,-5.299 4.75,-8.378 2.68,-6.064 4.4,-13.209 5.59,-20.56 1.75,-10.747 2.46,-21.892 5,-30.315 1.3,-4.346 3.02,-7.957 5.7,-10.262 0.73,-0.595 0.84,-1.671 0.24,-2.4 -0.59,-0.729 -1.67,-0.838 -2.4,-0.243 -3.28,2.548 -5.63,6.612 -7.4,11.644 -2.99,8.459 -4.44,19.739 -6.45,30.656 -1.27,6.869 -2.7,13.607 -5.22,19.295 -4.5,11.275 -10.95,18.618 -17.61,23.405 -4.58,3.284 -9.21,5.414 -13.4,6.723 -8.45,2.642 -14.95,2.135 -14.95,2.135 -0.3,-0.03 -0.57,0.19 -0.6,0.49 -0.03,0.3 0.19,0.567 0.49,0.597 z"
					/>
				</g>
				<path
					style:fill="#b15653"
					d="m 1561.29,768.299 181.52,181.511 c 1.12,1.126 2.95,1.126 4.07,0 l 183.77,-183.77 c 1.13,-1.126 1.13,-2.951 0,-4.077 L 1747.1,578.413 c -1.12,-1.126 -2.95,-1.126 -4.07,0 l -204.12,204.111 c -1.12,1.126 -1.12,2.953 0,4.078 1.13,1.125 2.96,1.125 4.08,0 z m 4.08,-4.078 179.47,179.472 c 19.96,-19.956 179.7,-179.692 179.7,-179.692 -19.95,-19.942 -179.48,-179.472 -179.48,-179.472 z"
				/>
				<path
					style:fill="#b15653"
					d="m 1547.08,778.438 197.28,197.286 4.08,-4.078 -197.29,-197.286 z"
				/>
				<path
					style:fill="#b15653"
					d="m 1747.1,578.413 -12.4,-12.398 c -1.12,-1.126 -2.95,-1.126 -4.07,0 L 1531.7,764.941 c -1.12,1.125 -1.12,2.952 0,4.078 1.13,1.125 2.95,1.125 4.08,0 l 196.89,-196.887 c 0,0 10.36,10.359 10.36,10.359 1.12,1.125 2.95,1.125 4.07,0 1.13,-1.126 1.13,-2.953 0,-4.078 z"
				/>
				<path
					style:fill="#b15653"
					d="m 1476.03,754.955 c 0,0 6.37,6.454 13.04,11.461 3.77,2.84 7.67,5.174 10.63,5.823 3.66,0.807 7.26,1.268 10.59,1.487 4.13,0.271 7.85,0.153 10.77,-0.179 3.17,-0.357 5.01,-0.11 7.37,-0.809 1.77,-0.525 3.82,-1.56 6.83,-3.772 1.1,-0.837 1.31,-2.408 0.47,-3.504 -0.84,-1.096 -2.41,-1.306 -3.51,-0.469 -2.3,1.828 -3.85,2.763 -5.22,3.228 -2.07,0.697 -3.72,0.463 -6.52,0.883 -2.7,0.403 -6.15,0.631 -9.99,0.509 -3.15,-0.1 -6.56,-0.428 -10.03,-1.076 -2.6,-0.487 -6.01,-2.514 -9.37,-4.892 -6.62,-4.68 -12.98,-10.794 -12.98,-10.794 -0.58,-0.573 -1.52,-0.566 -2.09,0.014 -0.58,0.581 -0.57,1.517 0.01,2.09 z"
				/>
				<g transform="translate(0.537889,1.91822)">
					<path
						style:fill="#b15653"
						d="m 1929.48,764.866 13.11,-13.109 c 1.12,-1.126 1.12,-2.952 0,-4.078 l -194.69,-194.684 -4.07,4.078 192.64,192.645 c 0,0 -11.07,11.07 -11.07,11.07 z"
					/>
				</g>
				<g transform="translate(0,0.314455)">
					<path style:fill="#b15653" />
				</g>

				<path
					style:fill="#b15653"
					d="m 1464.7,762.307 c 0.02,0.034 0.11,0.217 0.19,0.345 0.6,0.741 1.68,0.86 2.43,0.265 0.74,-0.595 0.86,-1.681 0.26,-2.423 -0.95,-0.96 -1.73,-1.334 -2.47,-1.322 -0.47,0.007 -0.93,0.057 -1.36,0.289 -0.61,0.329 -1.23,0.923 -1.9,1.528 -0.52,0.471 -1.08,1.01 -1.96,0.908 -1.04,-0.122 -1.95,-0.546 -2.68,-1.075 -1.39,-1.009 -2.2,-2.25 -2.2,-2.25 -0.07,-0.133 -0.23,-0.187 -0.36,-0.12 -0.13,0.067 -0.19,0.23 -0.12,0.363 0,0 0.59,1.517 1.87,2.919 0.77,0.852 1.8,1.598 3.08,2.023 0.72,0.24 1.37,0.203 1.99,0.091 0.96,-0.175 1.79,-0.73 2.55,-1.208 0.19,-0.12 0.49,-0.252 0.68,-0.333 z"
				/>
			</g>
		</svg>
	</div>
</a>

<style>
	svg {
		clip-rule: evenodd;
		fill-rule: evenodd;
		stroke-linejoin: round;
		stroke-miterlimit: 2;
	}
</style>
