<script lang="ts">
	import { get_combat_skills } from '$lib/queries';
	import { onMount } from 'svelte';
	import SingleSkill from './SingleSkill.svelte';
	import FullAttributeDiamond from './FullAttributeDiamond.svelte';
	import type { CombatSkillEnum } from '$lib/bindings/CombatSkillEnum';

	// The character
	export let character;

	onMount(() => {
		get_enums();
	});

	// Get all the required enums
	async function get_enums() {
		combat_skills = (await get_combat_skills()).expect('Failed to contact backend');
	}

	// List of combat skills
	let combat_skills: CombatSkillEnum[] = [];

	// shortcuts
	$: char = character.characteristics;
	$: attr = char?.attributes;
</script>

<div>
	<div class="m-auto w-1/2">
		<FullAttributeDiamond
			down={character.characteristics.attributes.endurance.max}
			down_label="endurance"
			main={attr.strength.value}
			main_label="strength"
			up={attr.strength.derived.target}
			up_label="target_number"
		/>
	</div>

	<!-- Combat Skills -->
	<table class="m-auto">
		{#each combat_skills as skill, i (skill)}
			<SingleSkill
				skill_roll_enabled
				label={skill}
				value={char.combat_skills.skills[i]}
			/>
		{/each}
	</table>
</div>
