<script lang="ts">
	import { get_character, loose, set_character } from '$lib/queries';
	import {
		print_enum,
		label_class as default_label_class,
		character_id,
		is_wounded,
		enhanced_accessibility,
		accessibility_font_size
	} from '$lib/utils';
	import { Label } from 'flowbite-svelte';
	import { T } from '@tolgee/svelte';
	import Progress from '$lib/Progress.svelte';
	import InjuryModal from './InjuryModal.svelte';
	import { NavPages } from './utils';
	import type { Character } from '$lib/bindings/Character';
	import { toast } from '@zerodevx/svelte-toast';

	// The character to display
	export let character: Character;
	// Is the character read only?
	export let readonly = false;
	// Function to manage the navigation
	export let navigation: (page: NavPages) => void = () => {};

	// Open / close the injury modal
	let open_injury = false;

	async function add_injury() {
		if ($character_id === null) {
			toast.push('Character id is null. This is a bug, please contact time');
			return;
		}
		(await set_character(character)).expect('Failed to reach backend');
		character = (await get_character($character_id)).expect('Failed to reach backend');
		open_injury = false;
	}

	$: attr = character.characteristics.attributes;

	async function increase_endurance_hope(
		field: 'endurance' | 'hope',
		event: CustomEvent<{ increase: number }>
	): Promise<void> {
		if ($character_id === null) {
			toast.push('Character name is null, should not happen');
			return;
		}
		const increase = event.detail.increase;
		const new_value = (await loose($character_id, field, -increase)).expect(
			`Failed to remove ${field}`
		);
		if (field == 'endurance') {
			attr.endurance.current = new_value;
		} else {
			attr.hope.current = new_value;
		}
	}
	$: number_cols = $enhanced_accessibility ? 1 : 3;
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
	$: label_class = `${default_label_class} ${font_size}`;
</script>

<div class="mb-5">
	{#if !readonly}
		<InjuryModal
			submit={add_injury}
			bind:open={open_injury}
			bind:injury={character.injury}
		/>
	{/if}
	<!-- Description -->
	<div class="mb-5 grid grid-cols-{number_cols}">
		<Label class={label_class}>
			{print_enum(character.culture)}
		</Label>
		<Label class={label_class}>
			{print_enum(character.calling)}
		</Label>
		<Label class={label_class}>
			{attr.shadow.path}
		</Label>
		<Label class={label_class}>
			{character.distinctive_features.join(', ')}
		</Label>
		<Label class={label_class}>
			{character.flaws.join(', ')}
		</Label>
		<Label class={label_class}>
			{print_enum(character.items.treasure.derived.standard_of_living)}
		</Label>
		<div on:click={() => (open_injury = true)}>
			<Label class={label_class}>
				{#if is_wounded(character)}
					{character.injury.description}
				{:else}
					<T keyName="no_injury" />
				{/if}
			</Label>
		</div>
		<div />
		<Label class={label_class}>
			{#if readonly}
				<div
					class="cursor-pointer underline"
					on:click={() => navigation(NavPages.Notes)}
				>
					<T keyName="to_notes" />
				</div>
			{:else}
				<a
					class="underline"
					href="/frontend/character/notes"
				>
					<T keyName="to_notes" />
				</a>
			{/if}
		</Label>
	</div>
	<!-- Endurance -->
	<div>
		<Label class={label_class}>
			<T keyName="endurance" />
		</Label>
	</div>
	<Progress
		enable_modal={!readonly}
		label="endurance"
		max={attr.endurance.max}
		threshold={character.derived.total_load_fatigue}
		bind:current={attr.endurance.current}
		on:submit={(increase) => increase_endurance_hope('endurance', increase)}
	/>
	<!-- Hope -->
	<div>
		<Label class={label_class}>
			<T keyName="hope" />
		</Label>
	</div>
	<Progress
		enable_modal={!readonly}
		label="hope"
		max={attr.hope.max}
		threshold={attr.shadow.derived.total_shadow}
		bind:current={attr.hope.current}
		on:submit={(increase) => increase_endurance_hope('hope', increase)}
	/>
</div>
