<script lang="ts">
	import { Colors } from '$lib/enum';
	import { is_dark, enhanced_accessibility } from '$lib/utils';

	export let is_favoured: boolean;

	$: full = is_dark() ? Colors.White : Colors.Black;
	$: empty = is_dark() ? Colors.Black : Colors.White;
	$: fill = is_favoured;
	$: fill_color = fill ? full : empty;
	const stroke_color = Colors.Red;
	$: size = $enhanced_accessibility ? '48px' : '20px';
</script>

<span>
	<svg
		height={size}
		viewBox="0 0 6 6"
		width={size}
	>
		<g>
			<rect
				style:fill={fill_color}
				style:stroke={stroke_color}
				height="4"
				width="4"
				x="1.3"
				y="1.3"
			/>
		</g>
	</svg>
</span>

<style>
	rect {
		stroke-width: 0.7;
		stroke-miterlimit: 4;
		stroke-dasharray: none;
		fill-opacity: 1;
	}
</style>
