<script lang="ts">
	import { Modal, Label, Input, Button } from 'flowbite-svelte';
	import { getTranslate, T } from '@tolgee/svelte';
	import Spinbox from '$lib/Spinbox.svelte';
	import type { Injury } from '$lib/bindings/Injury';
	import { accessibility_font_size, enhanced_accessibility } from '$lib/utils';

	// t is store
	const { t } = getTranslate();

	export let open: boolean;
	export let injury: Injury;
	export let submit: () => Promise<void> | void;
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<Modal
	outsideclose
	title={$t('add injury')}
	bind:open
>
	<div class="grid grid-cols-2">
		<Label class={font_size}>
			<T keyName="description" />
		</Label>
		<Input
			class={font_size}
			type="text"
			bind:value={injury.description}
		/>

		<Label class={font_size}>
			<T keyName="duration" />
		</Label>
		<Spinbox bind:value={injury.duration} />
	</div>
	<Button
		class={font_size}
		on:click={submit}
	>
		<T keyName="submit" />
	</Button>
</Modal>
