<script lang="ts">
	import { update_wearing as query_update_wearing, type AnyItem } from '$lib/queries';
	import {
		label_class,
		character_id,
		enhanced_accessibility,
		accessibility_font_size
	} from '$lib/utils';
	import { Checkbox, Label, Toggle } from 'flowbite-svelte';
	import { T } from '@tolgee/svelte';
	import type { AnyListItem } from '$lib/queries';
	import { toast } from '@zerodevx/svelte-toast';
	import { ItemTypes } from '$lib/enum';

	// Title of the element
	export let title: ItemTypes;
	// List of items to show
	export let items: AnyListItem;
	// Href to use when clicking on the element
	export let href: null | string = null;
	// Function for refreshing the data when wearing is updated
	export let refresh = async () => {};
	// Is the character readonly?
	export let readonly = false;

	async function update_wearing(item: AnyItem) {
		if ($character_id === null) {
			toast.push('Character id is null. This is a bug, please contact me');
			return;
		}
		if (item.id === null) {
			toast.push('Item id is null. This is a bug, please contact me');
			return;
		}
		await query_update_wearing($character_id, title, item.id, item.wearing);
		await refresh();
	}
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<div>
	<a {href}>
		<Label class="{label_class} underline {font_size}">
			<T keyName={title} />
		</Label>
	</a>
	<div class="grid grid-cols-2">
		{#each items as item (item.name)}
			<div class="flex justify-end">
				{#if readonly}
					<Checkbox
						checked={item.wearing}
						disabled
					/>
				{:else}
					<Toggle
						size={$enhanced_accessibility ? 'large' : 'small'}
						on:change={() => update_wearing(item)}
						bind:checked={item.wearing}
					/>
				{/if}
			</div>
			<Label class="my-0.5 {font_size}">
				{item.name}
			</Label>
		{/each}
	</div>
</div>
