<script lang="ts">
	import { Hr, Label, Button, Modal } from 'flowbite-svelte';
	import { accessibility_font_size, character_id, enhanced_accessibility } from '$lib/utils';
	import {
		get_character,
		get_advantage,
		get_upgrade_skills,
		get_upgrade_combat_skills,
		get_upgrade_secondary_attributes,
		get_combat_skills,
		get_skills,
		update_skill,
		increase_secondary_attribute,
		type SkillType,
		type AnySkill
	} from '$lib/queries';
	import SingleSkill from './SingleSkill.svelte';
	import Spinbox from '$lib/Spinbox.svelte';
	import SecondaryAttributeModal from './SecondaryAttributeModal.svelte';
	import TwoLinesLabel from '$lib/TwoLinesLabel.svelte';
	import { onMount } from 'svelte';
	import { getTranslate, T } from '@tolgee/svelte';
	import { toast } from '@zerodevx/svelte-toast';
	import { ExclamationCircleOutline } from 'flowbite-svelte-icons';
	import type { Character } from '$lib/bindings/Character';
	import type { SkillEnum } from '$lib/bindings/SkillEnum';
	import { AdvantageType, type Advantage } from '$lib/advantage';
	import type { CombatSkillEnum } from '$lib/bindings/CombatSkillEnum';
	import { SecondaryAttributeEnum } from '$lib/enum';

	// t is store
	const { t } = getTranslate();

	// Control open / close the modal
	export let open: boolean;
	// The character
	export let character: Character;

	onMount(() => {
		get_enums();
		update_can_upgrade();
	});

	// Get all the required enums for this modal
	async function get_enums(): Promise<void> {
		skills = (await get_skills()).expect('Failed to reach backend');
		combat_skills = (await get_combat_skills()).expect('Failed to reach backend');
	}

	// Update which skills can be upgraded
	async function update_can_upgrade(): Promise<void> {
		if (!open) {
			return;
		}
		if ($character_id === null) {
			toast.push('Character name cannot be null, please contact me');
			return;
		}
		can_upgrade_skills = (await get_upgrade_skills($character_id)).expect(
			'Failed to reach backend'
		);
		can_upgrade_combat_skills = (await get_upgrade_combat_skills($character_id)).expect(
			'Failed to reach backend'
		);
		can_upgrade_secondary_attributes = (
			await get_upgrade_secondary_attributes($character_id)
		).expect('Failed to reach backend');
	}

	/**
	 * Function to check if a skill is favoured or not
	 * @param skills The list of all skills (as argument in order to trigger reactivity)
	 * @param index The index in the list of skills
	 */
	function is_favoured(skills: SkillEnum[], index: number): boolean {
		return char.skills.favoured.findIndex((x) => x === skills[index]) !== -1;
	}

	/**
	 * Function to check if a skill can be upgraded
	 * @param skills The list of skills that can be upgraded
	 * @param label The label of the skill
	 */
	function is_upgrade_enabled(
		skills: AnySkill[] | SecondaryAttributeEnum[],
		label: AnySkill | SecondaryAttributeEnum
	) {
		return skills.findIndex((x) => x === label) !== -1;
	}

	/**
	 * Function to upgrade a skill
	 * @param skill_type The type of skills (skill or combat-skill)
	 * @param delta The increase (positive or negative) for the skill
	 * @param label The label of the skill
	 */
	async function upgrade_skill(skill_type: SkillType, delta: number, label: AnySkill) {
		if ($character_id === null) {
			toast.push('Character name cannot be null, please contact me');
			return;
		}
		await update_skill($character_id, skill_type, delta, label);
		await update_character();
	}

	async function update_character() {
		if ($character_id === null) {
			toast.push('Character name cannot be null, please contact me');
			return;
		}
		character = (await get_character($character_id)).expect('Failed to reach backend');
	}

	/**
	 * Function to ugprade a secondary skill. This function assumes an increase of 1
	 * @param attribute_type The type of the attribute (Valor or Wisdom)
	 * @param delta The increase to apply
	 * @param new_advantage The advantage to add
	 */
	async function upgrade_secondary_attribute(new_advantage: Advantage, delta = 1) {
		if ($character_id === null) {
			toast.push('Character name cannot be null, please contact me');
			return;
		}
		await increase_secondary_attribute(
			$character_id,
			secondary_attribute_label,
			new_advantage,
			delta
		);
		await update_character();
		open_modal = false;
	}

	async function open_secondary_attribute_modal(
		attribute_type: SecondaryAttributeEnum,
		delta: number
	) {
		switch (attribute_type) {
			case SecondaryAttributeEnum.Wisdom:
				secondary_attribute_label = SecondaryAttributeEnum.Wisdom;
				advantage_label = AdvantageType.Virtue;
				break;
			case SecondaryAttributeEnum.Valor:
				secondary_attribute_label = SecondaryAttributeEnum.Valor;
				advantage_label = AdvantageType.Reward;
				break;
			default:
				toast.push(`Attribute type ${attribute_type} does not exist`);
				return false;
		}
		if (delta < 0) {
			open_warning = true;
			const adv = (await get_advantage(secondary_attribute_label)).expect(
				'Failed to reach backend'
			);
			await upgrade_secondary_attribute(adv, delta);
			await update_character();
		} else {
			open_modal = true;
		}
		return false;
	}

	// The different enums
	let skills: SkillEnum[] = [];
	let combat_skills: CombatSkillEnum[] = [];

	// If we can upgrade a skill
	let can_upgrade_skills: SkillEnum[] = [];
	let can_upgrade_combat_skills: CombatSkillEnum[] = [];
	let can_upgrade_secondary_attributes: SecondaryAttributeEnum[] = [];

	// Secondary attribute modal
	let open_modal = false;
	let secondary_attribute_label = SecondaryAttributeEnum.Valor;
	let advantage_label = AdvantageType.Reward;

	// Modal for warning about reducing secondary attribute
	let open_warning = false;

	// eslint-disable-next-line @typescript-eslint/no-unused-expressions
	$: character && update_can_upgrade();
	$: char = character.characteristics;
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<Modal
	outsideclose
	title={$t('level up')}
	bind:open
>
	<!-- Modal for new advantage -->
	<SecondaryAttributeModal
		{advantage_label}
		culture={character.culture}
		{secondary_attribute_label}
		submit={upgrade_secondary_attribute}
		bind:open={open_modal}
	/>

	<!-- Modal to warn about removing advantage -->
	<Modal bind:open={open_warning}>
		<div class="text-center">
			<ExclamationCircleOutline class="mx-auto mb-4 h-12 w-12 text-gray-400 dark:text-gray-200" />
			<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
				<T keyName={`delete_${secondary_attribute_label}`} />
			</h3>
			<Button
				class="me-2"
				color="red"
				on:click={() => (open_warning = false)}
			>
				<T keyName="ok" />
			</Button>
		</div>
	</Modal>

	<!-- Skill points -->
	<TwoLinesLabel
		down="available_skill_points"
		up={character.characteristics.skill_experience.current}
	/>
	<Hr />
	<!--  Skills -->
	<table class="m-auto">
		{#each char.skills.skills as skill, i (i)}
			<SingleSkill
				disabled={!is_upgrade_enabled(can_upgrade_skills, skills[i])}
				favoured_enabled={true}
				is_favoured={is_favoured(skills, i)}
				label={skills[i]}
				on_change={(x) => upgrade_skill('skill', x, skills[i])}
				bind:value={skill}
			/>
		{/each}
	</table>

	<Hr />

	<!-- Adventure points -->
	<TwoLinesLabel
		down="available_adventure_points"
		up={character.characteristics.adventure_experience.current}
	/>
	<Hr />

	<!-- Combat skills -->
	<table class="m-auto">
		{#each char.combat_skills.skills as skill, i (i)}
			<SingleSkill
				disabled={!is_upgrade_enabled(can_upgrade_combat_skills, combat_skills[i])}
				label={combat_skills[i]}
				on_change={(x) => upgrade_skill('combat-skill', x, combat_skills[i])}
				bind:value={skill}
			/>
		{/each}
	</table>

	<Hr />

	<!-- Secondary Attributes -->
	<div class="flex justify-center gap-5">
		<div class="flex flex-col items-center gap-4">
			<Label class={font_size}>
				<T keyName="valor" />
			</Label>
			<Spinbox
				disabled_plus={!is_upgrade_enabled(
					can_upgrade_secondary_attributes,
					SecondaryAttributeEnum.Valor
				)}
				on_increase={(delta) => open_secondary_attribute_modal(SecondaryAttributeEnum.Valor, delta)}
				bind:value={char.valor.value}
			/>
		</div>
		<div class="flex flex-col items-center gap-4">
			<Label class={font_size}>
				<T keyName="wisdom" />
			</Label>
			<Spinbox
				disabled_plus={!is_upgrade_enabled(
					can_upgrade_secondary_attributes,
					SecondaryAttributeEnum.Wisdom
				)}
				on_increase={(delta) =>
					open_secondary_attribute_modal(SecondaryAttributeEnum.Wisdom, delta)}
				bind:value={char.wisdom.value}
			/>
		</div>
	</div>

	<!-- Button -->
	<Button
		class={font_size}
		on:click={() => (open = false)}
	>
		<T keyName="ok" />
	</Button>
</Modal>
