<script lang="ts">
	import type { ComponentType } from 'svelte';
	import { twMerge } from 'tailwind-merge';

	// The class for the div tags
	export let divClass = 'flex items-center';
	// Total number of icons
	export let total = 5;
	// Current rating
	export let rating = 4;
	// Icon to use
	export let icon: ComponentType;
	// Disable interaction
	export let disabled;
	// Function to call on changes
	export let on_change;

	$: fullStars = Math.floor(rating);
	$: rateDiffence = rating - fullStars;
	$: grayStars = total - (fullStars + Math.ceil(rateDiffence));
</script>

<div class="{twMerge(divClass, $$props.class)} white">
	{#each Array(fullStars) as _star, i (i)}
		<span on:click={() => on_change(-1)}>
			<svelte:component
				this={icon}
				fillPercent={100}
			/>
		</span>
	{/each}
	{#each Array(grayStars) as _star, i (i)}
		<span
			on:click={() => {
				if (!disabled) on_change(1);
			}}
		>
			<svelte:component
				this={icon}
				{disabled}
				fillPercent={0}
			/>
		</span>
	{/each}
</div>

<style>
	.white {
		color: white;
	}
</style>
