<script lang="ts">
	import { Label, Accordion, AccordionItem, Checkbox } from 'flowbite-svelte';
	import TwoLinesLabel from '$lib/TwoLinesLabel.svelte';
	import { SecondaryAttributeEnum } from '$lib/enum';
	import type { Character } from '$lib/bindings/Character';
	import type { Virtue } from '$lib/bindings/Virtue';
	import type { SecondaryAttribute } from '$lib/bindings/SecondaryAttribute';
	import type { Reward } from '$lib/bindings/Reward';
	import { toast } from '@zerodevx/svelte-toast';
	import { T } from '@tolgee/svelte';
	import { advantage_get_implemented } from '$lib/advantage';

	// The character
	export let character: Character;
	// Which secondary attribute to display
	export let secondary_attribute: SecondaryAttributeEnum;

	function get_attribute(
		character: Character,
		attribute: SecondaryAttributeEnum
	): SecondaryAttribute<Virtue> | SecondaryAttribute<Reward> {
		switch (attribute) {
			case SecondaryAttributeEnum.Wisdom:
				return character.characteristics.wisdom;
			case SecondaryAttributeEnum.Valor:
				return character.characteristics.valor;
			default:
				toast.push(`Cannot find ${attribute}`);
				throw 'Cannot find ${attribute}';
		}
	}

	$: attr = get_attribute(character, secondary_attribute);
</script>

<div>
	<div class="m-auto">
		<TwoLinesLabel
			down={secondary_attribute}
			up={attr.value}
		/>
	</div>
	<Accordion>
		{#each Object.entries(attr.advantages) as [id, value] (id)}
			{@const implemented = advantage_get_implemented(value)}
			<AccordionItem>
				<Label slot="header">{value.title}</Label>
				<p>
					{value.description}
				</p>
				{#if implemented !== undefined}
					<Checkbox
						disabled
						checked={implemented}
					>
						<T keyName="implemented" />
					</Checkbox>
				{/if}
			</AccordionItem>
		{/each}
	</Accordion>
</div>
