<script lang="ts">
	import { Modal, Button, Checkbox } from 'flowbite-svelte';
	import { T, getTranslate } from '@tolgee/svelte';
	import SelectAdvantage from './SelectAdvantage.svelte';
	import type { SecondaryAttributeEnum } from '$lib/enum';
	import { advantage_get_implemented, type Advantage, type AdvantageType } from '$lib/advantage';
	import type { CultureEnum } from '$lib/bindings/CultureEnum';
	import { get_default_reward } from '$lib/defaults';
	import { accessibility_font_size, enhanced_accessibility } from '$lib/utils';

	const { t } = getTranslate();

	// open / close the modal
	export let open: boolean;
	// Label for the secondary attribute (Wisdom or Valor)
	export let secondary_attribute_label: SecondaryAttributeEnum;
	// Label for the advantage (reward or virtue)
	export let advantage_label: AdvantageType;
	// Culture of the character
	export let culture: CultureEnum;
	// Function to call when submitting
	export let submit: (x: Advantage) => Promise<void> | void;

	let new_advantage: Advantage = get_default_reward();
	$: implemented = advantage_get_implemented(new_advantage);
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<Modal
	outsideclose
	title={$t(`New ${advantage_label} available`)}
	bind:open
>
	<SelectAdvantage
		{advantage_label}
		{culture}
		{secondary_attribute_label}
		bind:new_advantage
	/>
	{#if implemented != undefined}
		<Checkbox
			class={font_size}
			disabled
			checked={implemented}
		>
			<T keyName="implemented" />
		</Checkbox>
	{/if}
	<Button
		class={font_size}
		on:click={() => submit(new_advantage)}
	>
		<T keyName="ok" />
	</Button>
</Modal>
