<script lang="ts">
	import { Label, Input, Textarea } from 'flowbite-svelte';
	import { get_standard_advantages, get_standard_advantage, get_advantage } from '$lib/queries';
	import { onMount } from 'svelte';
	import { T } from '@tolgee/svelte';
	import Select from '$lib/Select.svelte';
	import type { SecondaryAttributeEnum } from '$lib/enum';
	import type { CultureEnum } from '$lib/bindings/CultureEnum';
	import {
		AdvantageType,
		type Advantage,
		type AdvantageEnum,
		type AdvantageMap
	} from '$lib/advantage';
	import { accessibility_font_size, enhanced_accessibility } from '$lib/utils';

	onMount(() => {
		get_enums();
	});

	// Label for the secondary attribute (Wisdom or Valor)
	export let secondary_attribute_label: SecondaryAttributeEnum;
	// Label for the advantage (reward or virtue)
	export let advantage_label: AdvantageType;
	// Culture of the character
	export let culture: CultureEnum;
	// The advantage picked
	export let new_advantage: Advantage;
	// Show only rewards from creation?
	export let creation = false;

	async function update_standard_advantage() {
		if (advantage_name === null) {
			return;
		}

		const name = advantage_name as AdvantageEnum;
		new_advantage = (await get_standard_advantage(advantage_label, name)).expect(
			'Failed to call backend'
		);
		return { ok: true, text: '' };
	}

	async function get_enums() {
		new_advantage = (await get_advantage(secondary_attribute_label)).expect(
			'Failed to call backend'
		);
		standard_advantages = (
			await get_standard_advantages(advantage_label, culture, creation)
		).expect('Failed to call backend');

		// Convert to select
		backend_items = Array.from(standard_advantages.keys());
		shown_items = Array.from(standard_advantages.values()).map((x) => x.title);
	}

	let advantage_name: string | null = null;
	let standard_advantages: AdvantageMap = new Map();

	let backend_items: string[] = [];
	let shown_items: string[] = [];

	// eslint-disable-next-line @typescript-eslint/no-unused-expressions
	$: secondary_attribute_label && advantage_label && get_enums();
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<div>
	<div>
		<Label class={font_size}>
			<T keyName={`available_${advantage_label}`} />
		</Label>
		<Select
			auto_labels={true}
			{backend_items}
			{shown_items}
			on:change={update_standard_advantage}
			bind:value={advantage_name}
		/>
	</div>
	<div>
		<Label class={font_size}>
			<T keyName="title" />
		</Label>
		<Input
			class={font_size}
			type="text"
			bind:value={new_advantage.title}
		/>
	</div>
	<div>
		<Label class={font_size}>
			<T keyName="description" />
		</Label>
		<Textarea
			unWrappedClass={font_size}
			bind:value={new_advantage.description}
		/>
	</div>
</div>
