<script lang="ts">
	import { Label } from 'flowbite-svelte';
	import Rating from './Rating.svelte';
	import SkillIcon from './SkillIcon.svelte';
	import FavouriteIcon from './FavouriteIcon.svelte';
	import { T } from '@tolgee/svelte';
	import type { SkillEnum } from '$lib/bindings/SkillEnum';
	import type { CombatSkillEnum } from '$lib/bindings/CombatSkillEnum';
	import RollModal from '$lib/RollModal.svelte';
	import { accessibility_font_size, enhanced_accessibility } from '$lib/utils';

	// Total number of levels
	export let total = 5;

	// Value to bind
	export let value = 0;

	// Label for the skill (e.g. Awe)
	export let label: SkillEnum | CombatSkillEnum;

	// Is the skill favoured?
	export let is_favoured = false;

	// Show the favoured check box?
	export let favoured_enabled = false;

	// Function to call on changes
	export let on_change: (x: number) => Promise<void> | void = async () => {};

	// Disable the interaction with the skills
	export let disabled = true;

	// Show the skill roll icon
	export let skill_roll_enabled = false;

	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<tr>
	{#if label != undefined}
		{#if skill_roll_enabled}
			<td>
				<RollModal {label} />
			</td>
		{/if}
		{#if favoured_enabled}
			<td>
				<FavouriteIcon {is_favoured} />
			</td>
			<td class="full">
				<Label class={font_size}>
					<T keyName={label} />
					{#if $enhanced_accessibility}
						{value}
					{/if}
				</Label>
			</td>
			<td>
				<Rating
					{disabled}
					icon={SkillIcon}
					{label}
					{on_change}
					rating={value}
					{total}
				/>
			</td>
		{:else}
			<td>
				<Label class={font_size}>
					<T keyName={label} />
					{#if $enhanced_accessibility}
						{value}
					{/if}
				</Label>
			</td>
			<td>
				<Rating
					{disabled}
					icon={SkillIcon}
					{label}
					{on_change}
					rating={value}
					{total}
				/>
			</td>
		{/if}
	{/if}
</tr>

<style>
	.full {
		width: 100px;
	}
</style>
