<script lang="ts">
	import { get_skills } from '$lib/queries';
	import { onMount } from 'svelte';
	import SingleSkill from './SingleSkill.svelte';
	import FullAttributeDiamond from './FullAttributeDiamond.svelte';
	import { Attributes, AttributeSecondaryLabel } from './utils';
	import type { SkillEnum } from '$lib/bindings/SkillEnum';
	import type { Character } from '$lib/bindings/Character';

	export let character: Character;
	export let attribute: Attributes;

	onMount(() => {
		get_enums();
	});

	async function get_enums(): Promise<void> {
		skills = (await get_skills()).expect('Failed to reach backend');
	}

	let skills: SkillEnum[] = [];

	function get_down_value(character: Character): number {
		switch (attribute) {
			case Attributes.Strength:
				return character.characteristics.attributes.endurance.max;
			case Attributes.Heart:
				return character.characteristics.attributes.hope.max;
			case Attributes.Wits:
				return character.characteristics.attributes.parry;
			default:
				throw 'ERROR NEED TO FIX';
		}
	}

	function get_down_label(): AttributeSecondaryLabel {
		switch (attribute) {
			case Attributes.Strength:
				return AttributeSecondaryLabel.Endurance;
			case Attributes.Heart:
				return AttributeSecondaryLabel.Hope;
			case Attributes.Wits:
				return AttributeSecondaryLabel.Parry;
			default:
				throw 'ERROR NEED TO FIX';
		}
	}

	$: char = character.characteristics;
	$: attr = char?.attributes;
	$: attr_field = attr[attribute];
	$: column_index = attribute == Attributes.Strength ? 0 : attribute == Attributes.Heart ? 1 : 2;

	const rows = [...Array(6).keys()];
</script>

<div>
	<!-- Attribute -->
	<div class="m-auto w-1/2">
		<FullAttributeDiamond
			down={get_down_value(character)}
			down_label={get_down_label()}
			main={attr_field.derived.target}
			main_label="target_number"
			up={attr_field.value}
			up_label={attribute}
		/>
	</div>
	<!-- Skills -->
	<table class="m-auto">
		{#each rows as row (row)}
			{@const index = column_index * 6 + row}
			<SingleSkill
				favoured_enabled
				skill_roll_enabled
				is_favoured={char.skills.favoured.findIndex((x) => x === skills[index]) !== -1}
				label={skills[index]}
				value={char.skills.skills[index]}
			/>
		{/each}
	</table>
</div>
