<script lang="ts">
	import { Colors } from '$lib/enum';
	import { is_dark, enhanced_accessibility } from '$lib/utils';

	export let disabled = false;
	export let fillPercent = 0;

	$: full_color = is_dark() ? Colors.White : Colors.Black;
	$: empty_color = !disabled ? Colors.Red : is_dark() ? Colors.Black : Colors.White;
	$: fill_color = fillPercent > 50 ? full_color : empty_color;
	const stroke_color = Colors.Red;
	$: size = $enhanced_accessibility ? '48px' : '20px';
</script>

<svg
	height={size}
	viewBox="0 0 3.8767127 3.8767127"
	width={size}
>
	<g transform="translate(-45.943515,-55.712772)">
		<rect
			style:fill={fill_color}
			style:stroke={stroke_color}
			height="2.5"
			transform="rotate(-45.013079)"
			width="2.5"
			x="-8.174942"
			y="73.371521"
		/>
	</g>
</svg>

<style>
	rect {
		stroke-width: 0.341;
		stroke-miterlimit: 4;
		stroke-dasharray: none;
		fill-opacity: 1;
	}
</style>
