<script lang="ts">
	import { set_character, get_character, reward_xp } from '$lib/queries';
	import { toast } from '@zerodevx/svelte-toast';
	import {
		label_class,
		character_id,
		enhanced_accessibility,
		accessibility_font_size
	} from '$lib/utils';
	import { Label } from 'flowbite-svelte';
	import { T } from '@tolgee/svelte';
	import TwoLinesLabel from '$lib/TwoLinesLabel.svelte';
	import ItemsSummary from './ItemsSummary.svelte';
	import TreasureModal from './TreasureModal.svelte';
	import IncreaseModal from '$lib/IncreaseModal.svelte';
	import Vr from '$lib/Vr.svelte';
	import AttributeDiamond from './AttributeDiamond.svelte';
	import type { Character } from '$lib/bindings/Character';
	import { NavPages } from './utils';
	import { Colors, ItemTypes, SecondaryAttributeEnum } from '$lib/enum';
	import { Attributes } from './utils';
	import RollModal from '$lib/RollModal.svelte';
	import { fellowship } from '$lib/fellowship_auth';

	enum IncreaseModalType {
		Fatigue = 'fatigue',
		Shadow = 'shadow',
		Scars = 'scars',
		SkillPoints = 'skill_points',
		AdventurePoints = 'adventure_points'
	}

	// The character object
	export let character: Character;

	// Is the character in readonly mode?
	export let readonly = false;

	// Function to handle the navigation between pages
	export let navigation: (page: NavPages) => void = () => {};

	// Open modal for treasures
	let treasure_modal = false;

	// Open modal for increasing value
	let increase_modal = false;

	// Label for the increasing value modal
	let increase_modal_label: IncreaseModalType = IncreaseModalType.Fatigue;

	async function increase_modal_function(label_string: string, increase: number): Promise<void> {
		if ($character_id === null) {
			toast.push('Character name is null. This is a bug, please contact me');
			return;
		}
		const label: IncreaseModalType = label_string as IncreaseModalType;
		if (label == IncreaseModalType.Fatigue) {
			attr.fatigue += increase;
		} else if (label == IncreaseModalType.Shadow) {
			attr.shadow.current += increase;
		} else if (label == IncreaseModalType.Scars) {
			attr.shadow.scars += increase;
		} else if (label == IncreaseModalType.SkillPoints) {
			(await reward_xp($character_id, increase, 0)).expect('Failed to reach backend');
		} else if (label == IncreaseModalType.AdventurePoints) {
			(await reward_xp($character_id, 0, increase)).expect('Failed to reach backend');
		} else {
			toast.push(`Unknown modal type: ${label}`);
			return;
		}

		// Update character only if not touching the backend
		if (![IncreaseModalType.AdventurePoints, IncreaseModalType.SkillPoints].includes(label)) {
			(await set_character(character)).expect('Failed to reach backend');
		}
		character = (await get_character($character_id)).expect('Failed to reach backend');
	}

	function open_increase_modal(modal_type: IncreaseModalType): void {
		increase_modal_label = modal_type;
		increase_modal = true;
	}

	async function refresh(): Promise<void> {
		if ($character_id === null) {
			toast.push('Character name is null. This is a bug, please contact me');
			return;
		}
		character = (await get_character($character_id)).expect('Failed to reach backend');
	}

	// Shortcuts
	$: attr = character.characteristics.attributes;
	$: char = character.characteristics;
	$: items = character.items;

	let width: number;
	$: column_width = $enhanced_accessibility ? width : width / 3;
	$: number_cols_items = $enhanced_accessibility ? 1 : 2;
	$: number_cols = $enhanced_accessibility ? 1 : 3;
	$: flex = $enhanced_accessibility ? 'flex-col' : 'flex';
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<div
	style:--theme-red={Colors.Red}
	bind:clientWidth={width}
>
	<!-- Random attributes  -->
	<div class="grid grid-cols-{number_cols}">
		{#if !readonly}
			<IncreaseModal
				label={increase_modal_label}
				submit_function={increase_modal_function}
				bind:open={increase_modal}
			/>
			<TreasureModal
				bind:character
				bind:open={treasure_modal}
			/>
		{/if}
		<TwoLinesLabel
			down="fatigue"
			onclick={() => open_increase_modal(IncreaseModalType.Fatigue)}
			up={attr.fatigue}
		/>
		<TwoLinesLabel
			down="shadow"
			onclick={() => open_increase_modal(IncreaseModalType.Shadow)}
			up={attr.shadow.current}
		/>

		<!-- Second line -->
		<TwoLinesLabel
			down="scars"
			onclick={() => open_increase_modal(IncreaseModalType.Scars)}
			up={attr.shadow.scars}
		/>
		<TwoLinesLabel
			down="treasures"
			onclick={() => (treasure_modal = true)}
			up={items.treasure.carrying + ' / ' + items.treasure.total}
		/>
		<TwoLinesLabel
			down="skill_points"
			onclick={() => open_increase_modal(IncreaseModalType.SkillPoints)}
			up={char.skill_experience.current + ' / ' + char.skill_experience.total}
		/>
		<TwoLinesLabel
			down="adventure_points"
			onclick={() => open_increase_modal(IncreaseModalType.AdventurePoints)}
			up={char.adventure_experience.current + ' / ' + char.adventure_experience.total}
		/>
	</div>
	<hr />

	<!-- Diamonds -->
	<div class={flex}>
		<div style:width="{column_width}px">
			{#if readonly}
				<div
					class="cursor-pointer"
					on:click={() => navigation(NavPages.Strength)}
				>
					<AttributeDiamond
						label="strength"
						value={attr.strength.value}
					/>
				</div>
			{:else}
				<AttributeDiamond
					href={`/frontend/character/${Attributes.Strength}`}
					label="strength"
					value={attr.strength.value}
				/>
			{/if}
			<hr />
			{#if readonly}
				<a
					class="cursor-pointer"
					on:click={() => navigation(NavPages.Combat)}
				>
					<Label
						style="height: 2.5em"
						class="{label_class} underline {font_size}"
					>
						<T keyName="combat_skills" />
					</Label>
				</a>
			{:else}
				<a href="/frontend/character/combat-skills">
					<Label
						style="height: 2.5em"
						class="{label_class} underline  {font_size}"
					>
						<T keyName="combat_skills" />
					</Label>
				</a>
			{/if}
			{#if $enhanced_accessibility}
				<hr />
			{/if}
		</div>
		<Vr />
		<Vr />

		<!-- Secondary attributes -->
		<div style:width="{column_width}px">
			{#if readonly}
				<div
					class="cursor-pointer"
					on:click={() => navigation(NavPages.Heart)}
				>
					<AttributeDiamond
						label="heart"
						value={attr.heart.value}
					/>
				</div>
				<hr />
				<div
					class="cursor-pointer"
					on:click={() => navigation(NavPages.Rewards)}
				>
					<TwoLinesLabel
						down="valor"
						up={char.valor.value}
					/>
				</div>
			{:else}
				<AttributeDiamond
					href={`/frontend/character/${Attributes.Heart}`}
					label="heart"
					value={attr.heart.value}
				/>
				<hr />
				<div class="flex justify-center">
					<RollModal label={SecondaryAttributeEnum.Valor} />
					<TwoLinesLabel
						down="valor"
						href={`/frontend/character/${SecondaryAttributeEnum.Valor}`}
						up={char.valor.value}
					/>
				</div>
			{/if}
			{#if $enhanced_accessibility}
				<hr />
			{/if}
		</div>
		<Vr />
		<Vr />
		<div style:width="{column_width}px">
			{#if readonly}
				<div
					class="cursor-pointer"
					on:click={() => navigation(NavPages.Wits)}
				>
					<AttributeDiamond
						label="wits"
						value={attr.wits.value}
					/>
				</div>
				<hr />
				<div
					class="cursor-pointer"
					on:click={() => navigation(NavPages.Virtues)}
				>
					<TwoLinesLabel
						down="wisdom"
						up={char.wisdom.value}
					/>
				</div>
			{:else}
				<AttributeDiamond
					href={`/frontend/character/${Attributes.Wits}`}
					label="wits"
					value={attr.wits.value}
				/>
				<hr />
				<div class="flex justify-center">
					<RollModal label={SecondaryAttributeEnum.Wisdom} />
					<TwoLinesLabel
						down="wisdom"
						href={`/frontend/character/${SecondaryAttributeEnum.Wisdom}`}
						up={char.wisdom.value}
					/>
				</div>
			{/if}
		</div>
	</div>
	<hr style:border-color={Colors.Red} />
	<div class="grid grid-cols-{number_cols}">
		<TwoLinesLabel
			down="load"
			up={items.derived.load}
		/>
		<div class="flex justify-center">
			<RollModal label="Protection" />
			<TwoLinesLabel
				down="protection"
				up={items.derived.protection}
			/>
		</div>
		<TwoLinesLabel
			down="parry"
			up={character.derived.total_parry}
		/>
	</div>
	<hr style:border-color={Colors.Red} />

	<!-- Items -->
	<div class="grid grid-cols-{number_cols_items}">
		<!-- Weapons -->
		{#if readonly}
			<div
				class="cursor-pointer"
				on:click={() => navigation(NavPages.Weapon)}
			>
				<ItemsSummary
					items={items.weapons}
					{readonly}
					{refresh}
					title={ItemTypes.Weapon}
				/>
			</div>
		{:else}
			<ItemsSummary
				href={`/frontend/character/${ItemTypes.Weapon}`}
				items={items.weapons}
				{readonly}
				{refresh}
				title={ItemTypes.Weapon}
			/>
		{/if}

		<!-- Armors -->
		{#if readonly}
			<div
				class="cursor-pointer"
				on:click={() => navigation(NavPages.Armor)}
			>
				<ItemsSummary
					items={items.armors}
					{readonly}
					{refresh}
					title={ItemTypes.Armor}
				/>
			</div>
		{:else}
			<ItemsSummary
				href={`/frontend/character/${ItemTypes.Armor}`}
				items={items.armors}
				{readonly}
				{refresh}
				title={ItemTypes.Armor}
			/>
		{/if}

		<!-- Shields -->
		{#if readonly}
			<div
				class="cursor-pointer"
				on:click={() => navigation(NavPages.Shield)}
			>
				<ItemsSummary
					items={items.shields}
					{readonly}
					{refresh}
					title={ItemTypes.Shield}
				/>
			</div>
		{:else}
			<ItemsSummary
				href={`/frontend/character/${ItemTypes.Shield}`}
				items={items.shields}
				{readonly}
				{refresh}
				title={ItemTypes.Shield}
			/>
		{/if}

		<!-- Equipments -->
		{#if readonly}
			<div
				class="cursor-pointer"
				on:click={() => navigation(NavPages.Equipment)}
			>
				<ItemsSummary
					items={items.equipments}
					{readonly}
					{refresh}
					title={ItemTypes.Equipment}
				/>
			</div>
		{:else}
			<ItemsSummary
				href={`/frontend/character/${ItemTypes.Equipment}`}
				items={items.equipments}
				{readonly}
				{refresh}
				title={ItemTypes.Equipment}
			/>
		{/if}
	</div>
	{#if $fellowship != null && $fellowship.patron != null}
		<hr style:border-color={Colors.Red} />
		<div class="grid grid-cols-{number_cols_items}">
			<div>
				<TwoLinesLabel
					down="patron"
					up={$fellowship.patron.name}
				/>
			</div>
			<div>
				<Label class="{label_class} {font_size}">
					{$fellowship.patron.advantage}
				</Label>
			</div>
		</div>
	{/if}
</div>

<style>
	hr {
		border-color: var(--theme-red);
	}
</style>
