<script lang="ts">
	import { accessibility_font_size, character_id, enhanced_accessibility } from '$lib/utils';
	import { Label, Modal, Button } from 'flowbite-svelte';
	import { set_character, get_character } from '$lib/queries';
	import Spinbox from '$lib/Spinbox.svelte';

	import { getTranslate, T } from '@tolgee/svelte';
	import type { Character } from '$lib/bindings/Character';
	import { toast } from '@zerodevx/svelte-toast';

	// t is store
	const { t } = getTranslate();

	// The character
	export let character: Character;

	// Open close the modal
	export let open = false;

	async function submit() {
		treasure.total += increase;
		increase = 0;
		await set_character(character);
		if ($character_id === null) {
			toast.push('Character name is null, this is a bug please contact me');
			return;
		}
		character = (await get_character($character_id)).expect('Failed to create character');
		open = false;
	}

	let increase = 0;
	$: treasure = character.items.treasure;
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';

	const label_class = 'flex items-center text-sm rtl:text-right font-medium';
</script>

<Modal
	outsideclose
	title={$t('update treasures')}
	bind:open
>
	<div class="grid grid-cols-2">
		<Label defaultClass="{label_class} {font_size}">
			<T keyName="carrying" />
		</Label>
		<Spinbox
			min={-10000}
			bind:value={treasure.carrying}
		/>
		<Label defaultClass="{label_class} {font_size}">
			<T keyName="increase_total" />
		</Label>
		<Spinbox
			min={-10000}
			bind:value={increase}
		/>
	</div>
	<Button
		class={font_size}
		on:click={submit}
	>
		<T keyName="submit" />
	</Button>
</Modal>
