<script lang="ts">
	import { character } from '$lib/utils.js';
	import Skills from '$lib/character/Skills.svelte';

	export let data;
</script>

<div>
	{#if $character !== null}
		<Skills
			attribute={data.attribute}
			character={$character}
		/>
	{/if}
</div>
