<script lang="ts">
	import { get_undertakings, get_undertaking, take_fellowship_phase } from '$lib/queries';
	import { Modal, Label, Button, Textarea, Toggle } from 'flowbite-svelte';
	import { T } from '@tolgee/svelte';
	import { onMount } from 'svelte';
	import Select from '$lib/Select.svelte';
	import type { CallingEnum } from '$lib/bindings/CallingEnum';
	import type { UndertakingEnum } from '$lib/bindings/UndertakingEnum';
	import type { Undertaking } from '$lib/bindings/Undertaking';
	import { accessibility_font_size, enhanced_accessibility } from '$lib/utils';

	// Open / close the modal
	export let open = false;
	// The character calling
	export let calling: CallingEnum;
	// The id of the character
	export let character_id: number;
	// Function for submitting the phase
	export let submit = async () => {};

	onMount(() => {
		get_enums();
	});

	async function get_enums(): Promise<void> {
		let undertakings_enum = (await get_undertakings()).expect('Failed to reach backend');
		for (let i = 0; i < undertakings_enum.length; i++) {
			let x = undertakings_enum[i];
			let current = (await get_undertaking(x)).expect('Failed to reach backend');
			undertakings.push(current);
		}
		update_items(false);
	}

	function update_items(yule: boolean): void {
		if (undertakings.length == 0) {
			return;
		}
		let filtered = undertakings.filter((el) => (yule ? true : !el.yule));
		items = filtered.map((el) => el.title);
		shown_items = filtered.map((el) => {
			return el.free_for === calling ? el.title + ' - Free' : el.title;
		});
	}

	async function ok() {
		await take_fellowship_phase(character_id, yule);
		await submit();
		open = false;
	}

	async function update_undertaking() {
		let ind = undertakings.findIndex((el) => value == el.title);
		if (ind != -1) {
			description = undertakings[ind].description;
		}
		return { ok: true, text: '' };
	}

	// The list of undertakings
	let undertakings: Undertaking[] = [];
	// The description of the current undertaking
	let description = '';
	// Is it yule?
	let yule = false;
	// List of available undertakings for select
	let items: string[] = [];
	// List of available undertaking to show to the users
	let shown_items: string[] = [];

	// The index of the currently selected undertaking
	let value: UndertakingEnum = 'GatherRumours';

	// eslint-disable-next-line @typescript-eslint/no-unused-expressions
	$: open && update_items(yule);
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<Modal
	outsideclose
	title="Selecting an undertaking"
	bind:open
>
	<Label class={font_size}>
		<T keyName="is_yule" />
	</Label>
	<Toggle
		size={$enhanced_accessibility ? 'large' : 'default'}
		bind:checked={yule}
	/>
	<Select
		backend_items={items}
		{shown_items}
		validate={update_undertaking}
		bind:value
	/>
	<Textarea
		unWrappedClass={font_size}
		disabled
		value={description}
	/>

	<Button
		class={font_size}
		on:click={ok}
	>
		<T keyName="ok" />
	</Button>
	<Button
		class={font_size}
		on:click={() => (open = false)}
	>
		<T keyName="cancel" />
	</Button>
</Modal>
