<script lang="ts">
	import { Button, Label } from 'flowbite-svelte';
	import { T } from '@tolgee/svelte';
	import Edit from '$lib/Edit.svelte';
	import { onMount } from 'svelte';
	import {
		get_empty_adversary,
		get_list_adversaries,
		get_adversary,
		set_adversary,
		delete_adversary,
		add_adversary_to_fellowship
	} from '$lib/queries';
	import { toast } from '@zerodevx/svelte-toast';
	import type { Adversary } from '$lib/bindings/Adversary';
	import FellModal from './FellModal.svelte';
	import CombatProficency from './CombatProficency.svelte';
	import type { FellAbility } from '$lib/bindings/FellAbility';
	import type { AdversaryCombatProficiency } from '$lib/bindings/AdversaryCombatProficiency';
	import { accessibility_font_size, enhanced_accessibility, to_enum } from '$lib/utils';
	import { FieldTypes } from '$lib/enum';
	import { fellowship, get_fellowship_id, update_fellowship } from '$lib/fellowship_auth';

	onMount(() => {
		init();
	});

	async function reset_list_adversaries(): Promise<void> {
		let resp = (await get_list_adversaries()).expect('Failed to reach backend');
		resp.sort((a, b) => {
			const nameA = a.name.toUpperCase(); // ignore upper and lowercase
			const nameB = b.name.toUpperCase(); // ignore upper and lowercase
			if (nameA < nameB) {
				return -1;
			}
			if (nameA > nameB) {
				return 1;
			}

			// names must be equal
			return 0;
		});
		available_backend_adversaries = resp.map((x) => {
			if (x.id != null) {
				return x.id;
			} else {
				return to_enum(x.name);
			}
		});

		available_shown_adversaries = resp.map((x) => x.name);
	}

	async function add_to_encounter(): Promise<void> {
		if (adversary === null) {
			return;
		}
		if ($fellowship == null) {
			toast.push('You need to pick a fellowship first');
			return;
		}
		let id = get_fellowship_id();
		(await add_adversary_to_fellowship(id, adversary)).expect('Failed to add adversary');
		await update_fellowship();
		await reset_list_adversaries();
		toast.push('Adversary added');
	}

	async function init(): Promise<void> {
		adversary = (await get_empty_adversary()).expect('Failed to reach backend');
		await reset_list_adversaries();
		selected_adversary = null;
	}

	async function select_adversary(): Promise<void> {
		if (selected_adversary === null) {
			return;
		}
		adversary = (await get_adversary(selected_adversary)).expect('Failed to reach backend');
	}

	async function save(): Promise<void> {
		if (adversary === null) {
			return;
		}
		const id = (await set_adversary(adversary)).expect('Failed to reach backend');
		adversary.id = id;
		toast.push('Adversary Saved');
		await reset_list_adversaries();
	}

	async function delete_adv(): Promise<void> {
		if (!can_delete) {
			toast.push('Cannot delete an official adversary');
			return;
		}
		if (adversary === null || adversary.id == null) {
			return;
		}
		(await delete_adversary(adversary.id)).expect('Failed to reach backend');
		await init();
	}

	function add_proficiency(prof: AdversaryCombatProficiency): void {
		adversary?.combat_proficiencies.push(prof);
		adversary = adversary;
	}

	function delete_combat_proficiency(name: string): void {
		if (adversary === null) {
			return;
		}
		adversary.combat_proficiencies = adversary.combat_proficiencies.filter(
			(prof) => prof.weapon !== name
		);
		adversary = adversary;
	}

	function add_ability(ability: FellAbility): void {
		adversary?.abilities.push(ability);
		adversary = adversary;
	}

	function delete_ability(name: string): void {
		if (adversary === null) {
			return;
		}
		adversary.abilities = adversary.abilities.filter((ab) => ab.title !== name);
		adversary = adversary;
	}
	let adversary: Adversary | null = null;
	let available_backend_adversaries: (string | number)[] = [];
	let available_shown_adversaries: string[] = [];
	let selected_adversary: string | null = null;
	let open_combat_prof = false;
	let open_fell = false;
	$: can_delete = adversary != null && adversary.id != null;
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<div>
	<CombatProficency
		bind:open={open_combat_prof}
		submit={add_proficiency}
	/>
	<FellModal
		bind:open={open_fell}
		submit={add_ability}
	/>
	{#if adversary != null}
		<div class="grid grid-cols-3 gap-5">
			<Edit
				in_table={false}
				bind:value={adversary.name}
				label="name"
			/>
			<Edit
				in_table={false}
				bind:value={selected_adversary}
				on:change={select_adversary}
				select_backend_values={available_backend_adversaries}
				select_shown_values={available_shown_adversaries}
				select_auto_labels={false}
				field_type={FieldTypes.Select}
				label="load adversary"
			/>
			<div />
			<Edit
				in_table={false}
				bind:value={adversary.features}
				label="features"
			/>
			<Edit
				in_table={false}
				bind:value={adversary.attribute_level}
				field_type={FieldTypes.Number}
				label="attribute level"
			/>
			<Edit
				in_table={false}
				bind:value={adversary.endurance.max}
				field_type={FieldTypes.Number}
				label="endurance"
			/>
			<Edit
				in_table={false}
				bind:value={adversary.might}
				field_type={FieldTypes.Number}
				label="might"
			/>
			<Edit
				in_table={false}
				bind:value={adversary.hate_type}
				field_type={FieldTypes.Bool}
				label="use hate"
			/>
			<Edit
				in_table={false}
				bind:value={adversary.hate.max}
				field_type={FieldTypes.Number}
				label={adversary.hate_type}
			/>
			<Edit
				in_table={false}
				bind:value={adversary.parry}
				field_type={FieldTypes.Number}
				label="parry"
			/>
			<Edit
				in_table={false}
				bind:value={adversary.armour}
				field_type={FieldTypes.Number}
				label="armour"
			/>
		</div>
		<div>
			<Label class={font_size}>
				<T keyName="combat_proficiency" />
			</Label>
			{#each adversary.combat_proficiencies as prof (prof.weapon)}
				<div class="grid grid-cols-3 gap-5">
					<Edit
						in_table={false}
						bind:value={prof.weapon}
						label="weapon"
					/>
					<Edit
						in_table={false}
						bind:value={prof.rating}
						label="rating"
					/>
					<Edit
						in_table={false}
						bind:value={prof.damage}
						label="damage"
					/>
					<Edit
						in_table={false}
						bind:value={prof.injury}
						label="injury"
					/>
					<Edit
						in_table={false}
						bind:value={prof.special_damages}
						label="special damages"
					/>
				</div>
				<Button on:click={() => delete_combat_proficiency(prof.weapon)}>
					<T keyName="delete" />
				</Button>
			{/each}
			<div class="flex justify-end">
				<Button
					class={font_size}
					on:click={() => (open_combat_prof = true)}
				>
					<T keyName="add" />
				</Button>
			</div>
		</div>
		<div>
			<Label class={font_size}>
				<T keyName="fell_abilities" />
			</Label>
			{#each adversary.abilities as ab}
				<Edit
					in_table={false}
					bind:value={ab.title}
					label="title"
				/>
				<Edit
					in_table={false}
					field_type={FieldTypes.TextArea}
					bind:value={ab.description}
					label="description"
				/>
				<Button on:click={() => delete_ability(ab.title)}>
					<T keyName="delete" />
				</Button>
			{/each}
			<div class="flex justify-end">
				<Button
					class={font_size}
					on:click={() => (open_fell = true)}
				>
					<T keyName="add" />
				</Button>
			</div>
		</div>
	{/if}
	<Button
		class={font_size}
		on:click={add_to_encounter}
	>
		<T keyName="add_to_encounter" />
	</Button>
	<Button
		class={font_size}
		on:click={save}
	>
		<T keyName="save" />
	</Button>
	<Button
		class={font_size}
		on:click={init}
	>
		<T keyName="reset" />
	</Button>
	<Button
		class={font_size}
		disabled={!can_delete}
		on:click={delete_adv}
	>
		<T keyName="delete" />
	</Button>
</div>
