<script lang="ts">
	import { T } from '@tolgee/svelte';
	import { Button, Modal } from 'flowbite-svelte';
	import type { AdversaryCombatProficiency } from '$lib/bindings/AdversaryCombatProficiency';
	import Edit from '$lib/Edit.svelte';
	import { FieldTypes } from '$lib/enum';
	import { accessibility_font_size, enhanced_accessibility } from '$lib/utils';

	export let open = false;
	export let submit = (_new_prof: AdversaryCombatProficiency) => {};

	function local_submit(new_prof: AdversaryCombatProficiency): void {
		submit(new_prof);
		prof = get_empty_proficiency();
		open = false;
	}

	function get_empty_proficiency(): AdversaryCombatProficiency {
		return {
			id: null,
			weapon: '',
			rating: 1,
			damage: 1,
			injury: 1,
			special_damages: []
		};
	}

	let prof: AdversaryCombatProficiency = get_empty_proficiency();
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<Modal
	title="New Combat Proficency"
	bind:open
	outsideclose
>
	<table>
		<Edit
			bind:value={prof.weapon}
			label="name"
		/>
		<Edit
			bind:value={prof.rating}
			field_type={FieldTypes.Number}
			label="rating"
		/>
		<Edit
			bind:value={prof.damage}
			field_type={FieldTypes.Number}
			label="damage"
		/>
		<Edit
			bind:value={prof.injury}
			field_type={FieldTypes.Number}
			label="injury"
		/>
		<!-- TODO manage special damages -->
	</table>
	<Button
		class={font_size}
		on:click={() => local_submit(prof)}
	>
		<T keyName="ok" />
	</Button>
</Modal>
