<script lang="ts">
	import type { FellAbility } from '$lib/bindings/FellAbility';
	import Edit from '$lib/Edit.svelte';
	import { accessibility_font_size, enhanced_accessibility } from '$lib/utils';
	import { T } from '@tolgee/svelte';
	import { Button, Modal } from 'flowbite-svelte';

	export let open = false;
	export let submit = (_new_ability_: FellAbility) => {};

	function get_empty_ability(): FellAbility {
		return {
			id: null,
			title: '',
			description: ''
		};
	}

	function local_submit(new_ability: FellAbility) {
		submit(new_ability);
		ability = get_empty_ability();
		open = false;
	}

	let ability: FellAbility = get_empty_ability();
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<Modal
	title="New Fell Ability"
	bind:open
	outsideclose
>
	<table>
		<Edit
			bind:value={ability.title}
			label="title"
		/>
		<Edit
			bind:value={ability.description}
			label="description"
		/>
	</table>
	<Button
		class={font_size}
		on:click={() => local_submit(ability)}
	>
		<T keyName="ok" />
	</Button>
</Modal>
