<script lang="ts">
	import {
		get_character,
		set_character,
		get_cultures,
		get_callings,
		get_advantage,
		get_combat_proficiencies,
		get_skills,
		get_combat_skills
	} from '$lib/queries';
	import { accessibility_font_size, character_id, enhanced_accessibility } from '$lib/utils.js';
	import { Label, Table, MultiSelect, Button, Hr } from 'flowbite-svelte';
	import { T } from '@tolgee/svelte';
	import Edit from '$lib/Edit.svelte';
	import EditTitle from '$lib/EditTitle.svelte';
	import SaveReset from '$lib/SaveReset.svelte';
	import { onMount } from 'svelte';
	import { toast } from '@zerodevx/svelte-toast';
	import type { Character } from '$lib/bindings/Character';
	import type { CultureEnum } from '$lib/bindings/CultureEnum';
	import type { CallingEnum } from '$lib/bindings/CallingEnum';
	import type { CombatProficiency } from '$lib/bindings/CombatProficiency';
	import type { CombatSkillEnum } from '$lib/bindings/CombatSkillEnum';
	import type { SkillEnum } from '$lib/bindings/SkillEnum';
	import { FieldTypes } from '$lib/enum';
	import { convert_to_select } from '$lib/select';
	import { SecondaryAttributeEnum } from '$lib/enum';
	import type { Reward } from '$lib/bindings/Reward';
	import type { Virtue } from '$lib/bindings/Virtue';

	const char_split = ', ';

	onMount(() => {
		init();
	});

	interface HasTitle {
		title: string;
	}

	function delete_advantage<T extends HasTitle>(array: T[], advantage: T): T[] {
		let index = array.findIndex((x) => x == advantage);
		if (index === -1) {
			toast.push(`Cannot find index of ${advantage.title}`);
		}
		let n = array.length;
		array[index] = array[n - 1];
		array.pop();
		return array;
	}

	async function init(): Promise<void> {
		cultures = (await get_cultures()).expect('Failed to reach backend');
		callings = (await get_callings()).expect('Failed to reach backend');
		combat_proficiencies = (await get_combat_proficiencies()).expect('Failed to reach backend');
		combat_skills = (await get_combat_skills()).expect('Failed to reach backend');
		skills = (await get_skills()).expect('Failed to reach backend');

		sync_favoured_skills();
	}

	// The current character
	let character: Character | null = null;
	// The list of available cultures
	let cultures: CultureEnum[] = [];
	// The list of available callings
	let callings: CallingEnum[] = [];
	// The list of combat proficiencies
	let combat_proficiencies: CombatProficiency[] = [];
	// The list of combat skills
	let combat_skills: CombatSkillEnum[] = [];
	// The list of skills
	let skills: SkillEnum[] = [];
	// The list of index to favoured skills
	let favoured_skills: number[];
	let distinctive_features: string;
	let flaws: string;

	async function save(): Promise<void> {
		if (character === null) {
			toast.push('Character is null. This is a bug, please contact me');
			return;
		}
		character.distinctive_features = distinctive_features.split(',').map((x) => x.trim());
		character.flaws = flaws.split(char_split).map((x) => x.trim());
		set_character(character);
		toast.push('Character Saved');
	}

	async function add_virtue(): Promise<void> {
		if (character === null) {
			toast.push('Character is null. This is a bug, please contact me');
			return;
		}
		let virtue = (await get_advantage(SecondaryAttributeEnum.Wisdom)).expect(
			'Failed to get an empty advantage'
		);
		character.characteristics.wisdom.advantages.push(virtue as Virtue);
		character = character;
	}

	async function add_reward(): Promise<void> {
		if (character === null) {
			toast.push('Character is null. This is a bug, please contact me');
			return;
		}

		let reward = (await get_advantage(SecondaryAttributeEnum.Valor)).expect(
			'Failed to get an empty advantage'
		);
		character.characteristics.valor.advantages.push(reward as Reward);
		character = character;
	}

	async function reset(): Promise<void> {
		await sync_character($character_id);
		toast.push('Character has been reset');
	}

	function sync_favoured_skills(): void {
		if (character === null) {
			return;
		}
		favoured_skills = character.characteristics.skills.favoured.map((x) =>
			skills.findIndex((y) => x == y)
		);
	}

	// Synchronize character from the backend
	async function sync_character(id: number | null): Promise<void> {
		character = id === null ? null : (await get_character(id)).expect('Failed to get character');
		sync_favoured_skills();

		if (character != null) {
			distinctive_features = character.distinctive_features.join(char_split);
			flaws = character.flaws.join(char_split);
		}
	}

	// Function to sync between character and multiselect
	function update_favoured_skills() {
		if (character == null) {
			return;
		}
		character.characteristics.skills.favoured = favoured_skills.map((x) => skills[x]);
	}

	$: sync_character($character_id);
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<Table>
	{#if character !== null}
		<!-- Modal for new advantage -->
		<tr>
			<td colspan="2">
				<SaveReset
					{reset}
					{save}
				/>
			</td>
		</tr>
		<EditTitle label="main" />
		<Edit
			field_type={FieldTypes.Text}
			label="character_name"
			bind:value={character.name}
		/>
		<Edit
			field_type={FieldTypes.Text}
			label="player_name"
			bind:value={character.player_name}
		/>
		<Edit
			field_type={FieldTypes.Bool}
			label="one shot rules"
			bind:checked={character.one_shot_rules}
		/>
		<Edit
			field_type={FieldTypes.Bool}
			label="strider mode"
			bind:checked={character.strider_mode}
		/>
		<Edit
			field_type={FieldTypes.Number}
			label="age"
			bind:value={character.age}
		/>
		<Edit
			field_type={FieldTypes.Select}
			label="culture"
			select_backend_values={cultures}
			select_auto_labels={true}
			bind:value={character.culture}
		/>
		<Edit
			field_type={FieldTypes.Select}
			label="calling"
			select_backend_values={callings}
			select_auto_labels={true}
			bind:value={character.calling}
		/>
		<Edit
			field_type={FieldTypes.Text}
			label="distinctive_features"
			bind:value={distinctive_features}
		/>
		<Edit
			field_type={FieldTypes.Text}
			label="flaws"
			bind:value={flaws}
		/>

		<EditTitle label="weapons" />
		{#each character.items.weapons as weapon, i (i)}
			{#if i > 0}
				<tr style="height: 2em !important"><td colspan="2"><Hr /></td></tr>
			{/if}
			<Edit
				field_type={FieldTypes.Text}
				label="name"
				bind:value={weapon.name}
			/>
			<Edit
				field_type={FieldTypes.Number}
				label="damage"
				bind:value={weapon.damage}
			/>
			<Edit
				field_type={FieldTypes.Number}
				label="injury"
				bind:value={weapon.injury}
			/>
			<Edit
				field_type={FieldTypes.Number}
				label="two_hand_injury"
				bind:value={weapon.two_hand_injury}
			/>
			<Edit
				field_type={FieldTypes.Number}
				label="load"
				bind:value={weapon.load}
			/>
			<Edit
				field_type={FieldTypes.Select}
				label="combat_proficiency"
				select_backend_values={combat_proficiencies}
				select_auto_labels={true}
				bind:value={weapon.combat_proficiency}
			/>
			<Edit
				field_type={FieldTypes.Bool}
				label="wearing"
				bind:checked={weapon.wearing}
			/>
			<Edit
				field_type={FieldTypes.TextArea}
				label="notes"
				bind:value={weapon.notes}
			/>
		{/each}

		<EditTitle label="armors" />
		{#each character.items.armors as armor, i (i)}
			{#if i > 0}
				<tr style="height: 2em !important"><td colspan="2"><Hr /></td></tr>
			{/if}
			<Edit
				field_type={FieldTypes.Text}
				label="name"
				bind:value={armor.name}
			/>
			<Edit
				field_type={FieldTypes.Number}
				label="protection"
				bind:value={armor.protection}
			/>
			<Edit
				field_type={FieldTypes.Number}
				label="load"
				bind:value={armor.load}
			/>
			<Edit
				field_type={FieldTypes.Bool}
				label="wearing"
				bind:checked={armor.wearing}
			/>
			<Edit
				field_type={FieldTypes.TextArea}
				label="notes"
				bind:value={armor.notes}
			/>
		{/each}

		<EditTitle label="shields" />
		{#each character.items.shields as shield, i (i)}
			{#if i > 0}
				<tr style="height: 2em !important"><td colspan="2"><Hr /></td></tr>
			{/if}
			<Edit
				field_type={FieldTypes.Text}
				label="name"
				bind:value={shield.name}
			/>
			<Edit
				field_type={FieldTypes.Number}
				label="parry"
				bind:value={shield.parry}
			/>
			<Edit
				field_type={FieldTypes.Number}
				label="load"
				bind:value={shield.load}
			/>
			<Edit
				field_type={FieldTypes.Bool}
				label="wearing"
				bind:checked={shield.wearing}
			/>
			<Edit
				field_type={FieldTypes.TextArea}
				label="notes"
				bind:value={shield.notes}
			/>
		{/each}

		<EditTitle label="equipments" />
		{#each character.items.equipments as equipment, i (i)}
			{#if i > 0}
				<tr style="height: 2em !important"><td colspan="2"><Hr /></td></tr>
			{/if}
			<Edit
				field_type={FieldTypes.Text}
				label="name"
				bind:value={equipment.name}
			/>
			<Edit
				field_type={FieldTypes.Number}
				label="load"
				bind:value={equipment.load}
			/>
			<Edit
				field_type={FieldTypes.Bool}
				label="wearing"
				bind:checked={equipment.wearing}
			/>
			<Edit
				field_type={FieldTypes.TextArea}
				label="notes"
				bind:value={equipment.notes}
			/>
		{/each}

		<EditTitle label="treasures" />
		<Edit
			field_type={FieldTypes.Number}
			label="total"
			bind:value={character.items.treasure.total}
		/>
		<Edit
			field_type={FieldTypes.Number}
			label="carrying"
			bind:value={character.items.treasure.carrying}
		/>

		<EditTitle label="attributes" />
		<Edit
			field_type={FieldTypes.Number}
			label="strength"
			bind:value={character.characteristics.attributes.strength.value}
		/>
		<Edit
			field_type={FieldTypes.Number}
			label="heart"
			bind:value={character.characteristics.attributes.heart.value}
		/>
		<Edit
			field_type={FieldTypes.Number}
			label="wits"
			bind:value={character.characteristics.attributes.wits.value}
		/>

		<EditTitle label="skills" />
		<tr>
			<td>
				<Label>
					<T keyName="favoured" />
				</Label>
			</td>
			<td>
				<MultiSelect
					size={$enhanced_accessibility ? 'lg' : 'md'}
					items={convert_to_select(skills)}
					on:change={update_favoured_skills}
					bind:value={favoured_skills}
				/>
			</td>
		</tr>
		{#each skills as skill, i (i)}
			<Edit
				field_type={FieldTypes.Number}
				label={skill}
				bind:value={character.characteristics.skills.skills[i]}
			/>
		{/each}

		<EditTitle label="combat_skills" />
		{#each combat_skills as skill, i (i)}
			<Edit
				field_type={FieldTypes.Number}
				label={skill}
				bind:value={character.characteristics.combat_skills.skills[i]}
			/>
		{/each}

		<EditTitle label="endurance" />
		<Edit
			field_type={FieldTypes.Number}
			label="current"
			bind:value={character.characteristics.attributes.endurance.current}
		/>
		<Edit
			field_type={FieldTypes.Number}
			label="max"
			bind:value={character.characteristics.attributes.endurance.max}
		/>

		<EditTitle label="hope" />
		<Edit
			field_type={FieldTypes.Number}
			label="current"
			bind:value={character.characteristics.attributes.hope.current}
		/>
		<Edit
			field_type={FieldTypes.Number}
			label="max"
			bind:value={character.characteristics.attributes.hope.max}
		/>
		<Edit
			field_type={FieldTypes.Number}
			label="parry"
			bind:value={character.characteristics.attributes.parry}
		/>

		<EditTitle label="shadow" />
		<Edit
			field_type={FieldTypes.Number}
			label="current"
			bind:value={character.characteristics.attributes.shadow.current}
		/>
		<Edit
			field_type={FieldTypes.Number}
			label="scars"
			bind:value={character.characteristics.attributes.shadow.scars}
		/>
		<Edit
			field_type={FieldTypes.Text}
			label="path"
			bind:value={character.characteristics.attributes.shadow.path}
		/>
		<Edit
			field_type={FieldTypes.Number}
			label="fatigue"
			bind:value={character.characteristics.attributes.fatigue}
		/>

		<EditTitle label="adventure points" />
		<Edit
			field_type={FieldTypes.Number}
			label="current"
			bind:value={character.characteristics.adventure_experience.current}
		/>
		<Edit
			field_type={FieldTypes.Number}
			label="total"
			bind:value={character.characteristics.adventure_experience.total}
		/>
		<EditTitle label="skill points" />
		<Edit
			field_type={FieldTypes.Number}
			label="current"
			bind:value={character.characteristics.skill_experience.current}
		/>
		<Edit
			field_type={FieldTypes.Number}
			label="total"
			bind:value={character.characteristics.skill_experience.total}
		/>

		<EditTitle label="valor" />
		<Edit
			field_type={FieldTypes.Number}
			label="valor"
			bind:value={character.characteristics.valor.value}
		/>

		<EditTitle label="rewards" />
		{#each character.characteristics.valor.advantages as advantage, i (i)}
			{#if i > 0}
				<tr style="height: 2em !important"><td colspan="2"><Hr /></td></tr>
			{/if}
			<Edit
				field_type={FieldTypes.Text}
				label="title"
				bind:value={advantage.title}
			/>
			<Edit
				field_type={FieldTypes.TextArea}
				label="description"
				bind:value={advantage.description}
			/>
			<!-- <Edit
				   field_type={FieldTypes.Select}
				   label="equipment_type"
				   select_values={item_types}
				   bind:value={advantage.equipment_type}
			     />
			     <Edit
				   field_type={FieldTypes.Text}
				   label="equipment_name"
				   bind:value={advantage.equipment_name}
			     />
			     <Edit
				   field_type={FieldTypes.Bool}
				   label="locked"
				   bind:value={advantage.locked}
			     /> -->
			<tr>
				<td />
				<td>
					<Button
						class={font_size}
						on:click={() => {
							/* @ts-expect-error: If not null above */
							character.characteristics.valor.advantages = delete_advantage(
								/* @ts-expect-error: If not null above */
								character.characteristics.valor.advantages,
								advantage
							);
						}}
					>
						<T keyName="delete" />
					</Button>
				</td>
			</tr>
		{/each}
		<Button
			class={font_size}
			on:click={add_reward}
		>
			<T keyName="add" />
		</Button>

		<EditTitle label="wisdom" />
		<Edit
			field_type={FieldTypes.Number}
			label="wisdom"
			bind:value={character.characteristics.wisdom.value}
		/>

		<EditTitle label="virtues" />
		{#each character.characteristics.wisdom.advantages as advantage, i (i)}
			{#if i > 0}
				<tr style="height: 2em !important"><td colspan="2"><Hr /></td></tr>
			{/if}
			<Edit
				field_type={FieldTypes.Text}
				label="title"
				bind:value={advantage.title}
			/>
			<Edit
				field_type={FieldTypes.TextArea}
				label="description"
				bind:value={advantage.description}
			/>
			<Edit
				field_type={FieldTypes.TextArea}
				label="player_input"
				bind:value={advantage.text_input}
			/>
			<tr>
				<td />
				<td>
					<Button
						class={font_size}
						on:click={() => {
							/* @ts-expect-error I am checking already for null */
							character.characteristics.wisdom.advantages = delete_advantage(
								/* @ts-expect-error I am checking already for null */
								character.characteristics.wisdom.advantages,
								advantage
							);
						}}
					>
						<T keyName="delete" />
					</Button>
				</td>
			</tr>
		{/each}
		<Button
			class={font_size}
			on:click={add_virtue}
		>
			<T keyName="add" />
		</Button>

		<EditTitle label="other" />
		<Edit
			field_type={FieldTypes.Number}
			label="duration"
			bind:value={character.injury.duration}
		/>
		<Edit
			field_type={FieldTypes.TextArea}
			label="description"
			bind:value={character.injury.description}
		/>
		<Edit
			field_type={FieldTypes.TextArea}
			label="notes"
			bind:value={character.notes}
		/>
		<tr>
			<td colspan="2">
				<SaveReset
					{reset}
					{save}
				/>
			</td>
		</tr>
	{/if}
</Table>
