<script lang="ts">
	import {
		accessibility_font_size,
		enhanced_accessibility,
		is_unique,
		set_character
	} from '$lib/utils';
	import {
		get_combat_skills,
		get_skills,
		get_choices,
		get_culture_options,
		get_new_character_combat_skills,
		create_character as query_create_character
	} from '$lib/queries';
	import { Hr, Modal, Button, ButtonGroup } from 'flowbite-svelte';
	import { onMount } from 'svelte';
	import NewCharacterSkills from '$lib/new-character/NewCharacterSkills.svelte';
	import NewCharacterDescription from '$lib/new-character/NewCharacterDescription.svelte';
	import TwoLinesLabel from '$lib/TwoLinesLabel.svelte';
	import { T } from '@tolgee/svelte';
	import { toast } from '@zerodevx/svelte-toast';
	import { ExclamationCircleOutline } from 'flowbite-svelte-icons';
	import type { Choices } from '$lib/bindings/Choices';
	import type { SkillEnum } from '$lib/bindings/SkillEnum';
	import type { CombatSkillEnum } from '$lib/bindings/CombatSkillEnum';
	import type { CombatSkills } from '$lib/bindings/CombatSkills';
	import type { Culture } from '$lib/bindings/Culture';
	import {
		get_default_choices,
		get_default_combat_skills,
		get_default_culture
	} from '$lib/defaults';

	onMount(() => {
		init();
	});

	async function init(): Promise<void> {
		// Get all the enums enum
		all_combat_skills = (await get_combat_skills()).expect('Failed to reach backend');
		all_skills = (await get_skills()).expect('Failed to reach backend');

		// Get the available choices
		choices = (await get_choices()).expect('Failed to reach backend');

		// Update gui
		ready = true;

		// Trigger a generation of skills for the calling
		await reset_skills();
	}

	async function create_character(): Promise<void> {
		// Gather combat skill changes
		const combat_impr: Map<CombatSkillEnum, number> = new Map();
		const init_skills = (await get_new_character_combat_skills(choices)).expect(
			'Failed to reach backend'
		);
		choices_combat_skills.skills.forEach((x, i) => {
			if (x != init_skills.skills[i]) {
				combat_impr.set(all_combat_skills[i], x);
			}
		});
		choices.improvements.combat = Object.fromEntries(combat_impr);

		// Gather skill changes
		const skill_impr: Map<SkillEnum, number> = new Map();
		const culture_options = (await get_culture_options(choices.culture)).expect(
			'Failed to reach backend'
		).skills;
		character_culture.skills.forEach((x, i) => {
			if (x != culture_options[i]) {
				skill_impr.set(all_skills[i], x);
			}
		});
		choices.improvements.skills = Object.fromEntries(skill_impr);

		// Create character
		const char = (await query_create_character(choices)).expect('Failed to create character');

		if (char.id == null) {
			toast.push('Character id is null. This is a bug, please report it');
			return;
		}
		set_character(char.id);
		open = true;
	}

	// update the list of combat skills
	async function update_combat_skills(): Promise<void> {
		if (choices.all_combat_skill != null && choices.available_combat_skill != null) {
			choices_combat_skills = (await get_new_character_combat_skills(choices)).expect(
				'Failed to reach backend'
			);
		}
	}

	// Validate the choices and enable the creation button
	function enable_creation(use_toast = false): boolean {
		if (choices.previous_experience != 0) {
			if (use_toast) {
				toast.push('You need to spend your experience');
			}
			return false;
		}
		if (choices.culture_skill === null) {
			if (use_toast) {
				toast.push('You need to pick a culture skill');
			}
			return false;
		}
		if (!is_unique([choices.culture_skill, ...choices.calling_skills])) {
			if (use_toast) {
				toast.push('Your choice of skills need to be different');
			}
			return false;
		}
		if (choices.calling_skills.length != 2) {
			if (use_toast) {
				toast.push('You need to pick the right amount of skills');
			}
			return false;
		}
		if (choices.all_combat_skill == choices.available_combat_skill) {
			if (use_toast) {
				toast.push('You need to pick different combat skills');
			}
			return false;
		}
		if (choices.character_name == '') {
			if (use_toast) {
				toast.push('You need to pick a name');
			}
			return false;
		}
		if (choices.reward.title == '' || choices.reward.description == '') {
			if (use_toast) {
				toast.push('You need to pick a reward');
			}
			return false;
		}
		if (choices.virtue.title == '' || choices.virtue.description == '') {
			if (use_toast) {
				toast.push('You need to pick a virtue');
			}
			return false;
		}
		return true;
	}

	// Reset the combat skills
	async function reset_skills(): Promise<void> {
		await update_combat_skills();
		character_culture = (await get_culture_options(choices.culture)).expect(
			'Failed to reach backend'
		);
	}

	let ready = false;
	// List of all combat skills
	let all_combat_skills: CombatSkillEnum[] = [];
	// List of all skills
	let all_skills: SkillEnum[] = [];

	// Choices made by the player
	let choices: Choices = get_default_choices();
	// Level of each combat skill
	let choices_combat_skills: CombatSkills = get_default_combat_skills();
	// The level of each skill
	let character_culture: Culture = get_default_culture();
	// Open / close the modal
	let open = false;

	// Enable / disable button for creation
	$: enable_create = choices && enable_creation();
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<div />

<div>
	{#if ready}
		<!-- Modal to give some explanations after creation -->
		<Modal bind:open>
			<div class="text-center">
				<ExclamationCircleOutline class="mx-auto mb-4 h-12 w-12 text-gray-400 dark:text-gray-200" />
				<h3 class="mb-5 {font_size} font-normal text-gray-500 dark:text-gray-400">
					<T keyName="message_character_created" />
				</h3>
				<Button
					class="me-2 {font_size}"
					color="red"
					on:click={() => (window.location.href = '/frontend/character')}
				>
					<T keyName="ok" />
				</Button>
			</div>
		</Modal>

		<!-- Description -->
		<NewCharacterDescription
			reset={reset_skills}
			bind:choices
		/>

		<Hr />
		<TwoLinesLabel
			down="previous_experience"
			up={choices.previous_experience}
		/>
		<Hr />
		<NewCharacterSkills
			bind:choices
			bind:character_combat_skills={choices_combat_skills}
			bind:character_culture
		/>
		<Hr />
		<ButtonGroup class="flex justify-center">
			<Button
				class={font_size}
				disabled={!enable_create}
				on:click={create_character}
			>
				<T keyName="create_character" />
			</Button>
			<Button
				class={font_size}
				on:click={() => enable_creation(true)}
			>
				<T keyName="find_missing_input" />
			</Button>
		</ButtonGroup>
	{/if}
</div>
