<script lang="ts">
	import {
		is_player,
		enhanced_accessibility,
		accessibility_font_size,
		label_class
	} from '$lib/utils';
	import Character from '$lib/loremaster/Character.svelte';
	import Adversary from '$lib/loremaster/Adversary.svelte';
	import { Heading, Label, SpeedDial, Listgroup, ListgroupItem, Button } from 'flowbite-svelte';
	import { T } from '@tolgee/svelte';
	import {
		delete_adversary_from_fellowship,
		delete_character_from_fellowship,
		increase_eye as increase_eye_query,
		get_eye_threshold,
		reset_fellowship_points,
		reset_eye as reset_eye_query,
		increase_points
	} from '$lib/queries';
	import { get_fellowship_id, fellowship, update_fellowship } from '$lib/fellowship_auth';
	import { toast } from '@zerodevx/svelte-toast';
	import TwoLinesLabel from '$lib/TwoLinesLabel.svelte';
	import SpinBox from '$lib/Spinbox.svelte';
	import { Colors } from '$lib/enum';
	import { onMount } from 'svelte';
	import IncreaseModal from '$lib/IncreaseModal.svelte';

	onMount(() => {
		if ($fellowship != null) {
			set_eye_color($fellowship.eye);
		}
	});

	async function reset_points() {
		const fellowship_id = get_fellowship_id();
		if ($fellowship == null) {
			throw 'fellowship is null, this is a bug';
		}
		$fellowship.points = (await reset_fellowship_points(fellowship_id)).expect(
			'Failed to reset eye'
		);
		dial_open = false;
	}

	async function reset_eye() {
		const fellowship_id = get_fellowship_id();
		if ($fellowship == null) {
			throw 'fellowship is null, this is a bug';
		}
		$fellowship.eye = (await reset_eye_query(fellowship_id)).expect('Failed to reset eye');
		dial_open = false;
	}

	async function remove_character(character_id: number): Promise<void> {
		const fellowship_id = get_fellowship_id();
		(await delete_character_from_fellowship(fellowship_id, character_id)).expect(
			'Failed to remove character'
		);
		await update_fellowship();
	}
	async function increase_eye(inc: number): Promise<boolean> {
		if ($fellowship == null) {
			throw 'fellowship is null, this is a bug';
		}
		const fellowship_id = get_fellowship_id();
		$fellowship.eye = (await increase_eye_query(fellowship_id, inc)).expect(
			'Failed to increase eye'
		);
		await set_eye_color($fellowship.eye);
		return false;
	}

	async function set_eye_color(eye: number): Promise<void> {
		const region = (await get_eye_threshold(eye)).expect('Failed to get eye threshold');
		if (region == 'BorderLand') {
			eye_color = Colors.Red;
		} else if (region == 'WildLand') {
			eye_color = Colors.Orange;
		} else if (region == 'DarkLand') {
			eye_color = Colors.Green;
		} else {
			eye_color = Colors.White;
		}
	}
	async function increase_fellowship_points(_label: string, inc: number): Promise<void> {
		const fellowship_id = get_fellowship_id();
		(await increase_points(fellowship_id, inc)).expect('Failed to increase fellowship points');
		increase_modal_open = false;
	}

	async function remove_adversary(adversary_id: number | null): Promise<void> {
		if (adversary_id == null) {
			toast.push('Adversary id is null. This is a bug, please contact me');
			return;
		}
		const fellowship_id = get_fellowship_id();
		(await delete_adversary_from_fellowship(fellowship_id, adversary_id)).expect(
			'Failed to remove adversary'
		);
		await update_fellowship();
	}
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
	$: number_cols = $enhanced_accessibility ? 1 : 3;
	let eye_color = Colors.White;
	let dial_open = false;
	let increase_modal_open = false;
</script>

<div>
	<IncreaseModal
		label="fellowship_points"
		open={increase_modal_open}
		submit_function={increase_fellowship_points}
	/>
	{#if $fellowship != null}
		<Heading
			class="text-center"
			tag="h3">{$fellowship.name}</Heading
		>
		<div class="grid grid-cols-{$is_player ? 2 : 3}">
			<div>
				{#if $fellowship.patron != null}
					<TwoLinesLabel
						up={$fellowship.patron.name}
						down="patron"
					/>
				{/if}
			</div>
			<TwoLinesLabel
				onclick={() => {
					increase_modal_open = true;
				}}
				up={$fellowship.points}
				down="fellowship_points"
			/>
			{#if !$is_player}
				<Label class="{label_class} {font_size}">
					<SpinBox
						value={$fellowship.eye}
						on_increase={increase_eye}
					/>
					<div
						class="{label_class} {font_size}"
						style:color={eye_color}
					>
						<T keyName="eye" />
					</div>
				</Label>
			{/if}
		</div>
		<Heading
			tag="h4"
			class="my-5 {font_size}"
		>
			<T keyName="players" />
		</Heading>
		<div class="grid grid-cols-{number_cols}">
			{#each $fellowship.characters as char (char.name)}
				<Character
					character={char}
					{remove_character}
					show_details={!$is_player}
				/>
			{/each}
		</div>
		{#if $fellowship.adversaries.length != 0}
			<Heading
				tag="h4"
				class="my-5 {font_size}"
			>
				<T keyName="adversaries" />
			</Heading>
			<div class="grid grid-cols-{number_cols}">
				{#each $fellowship.adversaries as adv, i (i)}
					<Adversary
						adversary={adv}
						remove={() => remove_adversary(adv.id)}
						show_details={!$is_player}
					/>
				{/each}
			</div>
		{/if}
		<SpeedDial
			defaultClass="fixed right-4 bottom-6 z-50"
			placement="top-end"
			tooltip="none"
			bind:open={dial_open}
		>
			<Listgroup active>
				<ListgroupItem class="flex">
					<Button
						class="m-auto {font_size}"
						on:click={reset_eye}
					>
						<T keyName="reset_eye" />
					</Button>
				</ListgroupItem>
				<ListgroupItem class="flex">
					<Button
						class="m-auto {font_size}"
						on:click={reset_points}
					>
						<T keyName="reset_fellowship_points" />
					</Button>
				</ListgroupItem>
			</Listgroup>
		</SpeedDial>
	{/if}
</div>
