<script>
	import { accessibility_font_size, enhanced_accessibility } from '$lib/utils';
	import { Accordion, AccordionItem } from 'flowbite-svelte';
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<div>
	<Accordion>
		<AccordionItem>
			<span
				class={font_size}
				slot="header"
			>
				Where are my data saved? Which data are collected?
			</span>
			<p class={font_size}>
				It depends on which version you are using but in all case I don't collect any private data.
				For desktop applications, the data are stored in your Documents folder under the name
				`TheOneApp`. On android, the data are stored within your application folder in order to
				avoid requesting additional permissions. It means that if you delete the application, you
				loose your data. You can backup your charactes with copy / paste. For the cloud version, I
				am saving your password (hashed) and your username. Your characters are saved directly there
				and a backup is done every week and kept for 3 weeks. If you wish to delete your data,
				please contact me.
			</p>
		</AccordionItem>
		<AccordionItem>
			<span
				class={font_size}
				slot="header"
			>
				I cannot find where the attribute XXX is located in the app
			</span>
			<p class={font_size}>
				I am not an expert in user experience / user interface (UI) so there might be some bad
				design. Try clicking on the different elements in the UI and you might get to a subpage with
				the required data. If you are not happy with the design, please contact me (discord or
				gitlab) and we can discuss on how to improve it.
			</p>
		</AccordionItem>
		<AccordionItem>
			<span
				class={font_size}
				slot="header"
			>
				The application is badly translated or is missing a language
			</span>
			<p class={font_size}>
				I did a proof of concept for translation in french but did not spend too much time on it. If
				you need the application to be well translated, please contact me and I will make the
				effort. If you need another language, I will need your contribution as I only speak french
				and english. I am using Tolgee for the translation, so you don't need to know anything about
				programming to contribute. You will need to be added to the project, so please contact me
				after creating your account there.
			</p>
		</AccordionItem>
		<AccordionItem>
			<span
				class={font_size}
				slot="header"
			>
				How to use the application as a loremaster?
			</span>
			<p class={font_size}>
				Everything is setup for players by default. So you will need to switch to the loremaster
				setup in the `Settings` tab.
			</p>
		</AccordionItem>
		<AccordionItem>
			<span
				class={font_size}
				slot="header"
			>
				How to enable the connection between the users and the loremaster?
			</span>
			<p class={font_size}>
				The setup for sharing data between the loremaster and the players is using the loremaster
				application as the central hub. So the loremaster needs to have the app exposed to internet.
				The easiest solution is to use my <a href="https://the-one-app.loikki.ch">cloud version</a>.
				Once the account created, you can switch to the loremaster mode in `settings` which will
				allow anyone to connect if they know your username and name of the fellowship created in the
				Fellowship tab. Your browser will save the connection information so if you quit the app,
				next time the connection will be automatically setup.
			</p>
		</AccordionItem>
		<AccordionItem>
			<span
				class={font_size}
				slot="header"
			>
				I wish to contribute to the application (e.g. data, translation, programming, design, ...)
			</span>
			<p class={font_size}>
				I happy with any contribution. So please contact me on discord and we can discuss on how to
				collaborate.
			</p>
		</AccordionItem>
	</Accordion>
</div>
