<script lang="ts">
	import { Modal, Label, Button, Hr } from 'flowbite-svelte';
	import Select from '$lib/Select.svelte';
	import { T } from '@tolgee/svelte';
	import { onMount } from 'svelte';
	import { get_name_generator_race, get_genders, roll_name_generator } from '$lib/queries';
	import type { NameGenerators } from '$lib/bindings/NameGenerators';
	import type { Genders } from '$lib/bindings/Genders';
	import { accessibility_font_size, enhanced_accessibility } from '$lib/utils';

	export let open: boolean;

	onMount(() => {
		init();
	});

	async function init() {
		races = (await get_name_generator_race()).expect('Failed to reach backend');
	}

	async function roll() {
		let gender = genders.length == 0 ? 'Male' : current_gender;
		names = (await roll_name_generator(12, current_race, gender)).expect('Failed to reach backend');
	}

	async function on_change() {
		genders = (await get_genders(current_race)).expect('Failed to reach backend');
	}

	let names: string[] = [];
	let races: NameGenerators[] = [];
	let genders: Genders[] = [];
	let current_race: NameGenerators = 'Balrog';
	let current_gender: Genders;
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<Modal
	outsideclose
	title="Random Name Generator"
	bind:open
>
	<div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
		<div>
			<Label class={font_size}>
				<T keyName="race" />
			</Label>
			<Select
				backend_items={races}
				auto_labels={true}
				on:change={on_change}
				bind:value={current_race}
			/>
		</div>
		<div>
			<Label class={font_size}>
				<T keyName="gender" />
			</Label>
			<Select
				backend_items={genders}
				auto_labels={true}
				bind:value={current_gender}
			/>
		</div>
	</div>
	<Label class={font_size}>
		<T keyName="names" />
	</Label>
	<div class="grid grid-cols-2">
		{#each names as name, i (i)}
			<div class="text-center">
				<Label class={font_size}>
					{name}
				</Label>
			</div>
		{/each}
	</div>
	<Hr />
	<Label class="text-right">
		<T keyName="thanks_emily" />
		<a
			class="underline"
			href="https://www.fantasynamegenerators.com">fantasy name generators</a
		>
	</Label>

	<Button
		class={font_size}
		on:click={roll}
	>
		<T keyName="roll" />
	</Button>
</Modal>
