<script lang="ts">
	import { Modal, Label, Button } from 'flowbite-svelte';
	import Select from '$lib/Select.svelte';
	import { T } from '@tolgee/svelte';
	import { roll_random_features } from '$lib/queries';
	import { accessibility_font_size, enhanced_accessibility } from '$lib/utils';

	export let open: boolean;

	async function roll() {
		let positive = current_type == features_type[0];
		features = (await roll_random_features(12, positive)).expect('Failed to reach backend');
		return { ok: true, text: '' };
	}

	let features: string[] = [];
	const features_type = ['Positive', 'Negative'];
	let current_type = features_type[0];
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<Modal
	outsideclose
	title="Random Features"
	bind:open
>
	<div class="">
		<Label class={font_size}>
			<T keyName="type_of_features" />
		</Label>
		<Select
			backend_items={features_type}
			auto_labels={true}
			validate={roll}
			bind:value={current_type}
		/>
	</div>
	<Label class={font_size}>
		<T keyName="features" />
	</Label>
	<div class="grid grid-cols-2">
		{#each features as feature, i (i)}
			<div class="text-center">
				<Label class={font_size}>
					{feature}
				</Label>
			</div>
		{/each}
	</div>
	<Button
		class={font_size}
		on:click={roll}
	>
		<T keyName="roll" />
	</Button>
</Modal>
