<script lang="ts">
	import { Modal, Label, Button, Toggle } from 'flowbite-svelte';
	import Select from '$lib/Select.svelte';
	import Spinbox from '$lib/Spinbox.svelte';
	import { T } from '@tolgee/svelte';
	import { onMount } from 'svelte';
	import { get_roll_type, get_roll_statistics } from '$lib/queries';
	import { Line } from 'svelte-chartjs';
	import { get_default_roll_statistics } from '$lib/defaults';

	export let open: boolean;

	onMount(() => {
		init();
	});

	async function init() {
		let roll = await get_roll_type();
		if (!roll.ok) {
			return;
		}
		roll_types = roll.unwrap();
	}

	async function roll() {
		let roll = await get_roll_statistics(
			number_rolls,
			number_dices,
			current_roll_type,
			miserable,
			weary
		);
		if (!roll.ok) {
			return;
		}
		roll_statistics = roll.unwrap();
		data.datasets[0].data = roll_statistics.probabilities.map((x, i) => {
			return { x: i, y: x };
		}) as never[];
	}

	let roll_types: RollType[] = [];
	let current_roll_type: RollType = 'Normal';
	let number_dices = 0;
	let number_rolls = 1000;
	let miserable = false;
	let weary = false;
	let roll_statistics: RollStatistics = get_default_roll_statistics();

	let data = {
		datasets: [
			{
				label: 'Success Probability',
				fill: true,
				lineTension: 0.3,
				backgroundColor: 'rgba(184, 185, 210, .3)',
				borderColor: Colors.Red,
				borderCapStyle: 'butt',
				borderDash: [],
				borderDashOffset: 0.0,
				borderJoinStyle: 'miter',
				pointBorderColor: Colors.Red,
				pointBackgroundColor: Colors.Red,
				pointBorderWidth: 10,
				pointHoverRadius: 5,
				pointHoverBackgroundColor: 'rgb(0, 0, 0)',
				pointHoverBorderColor: 'rgba(220, 220, 220, 1)',
				pointHoverBorderWidth: 2,
				pointRadius: 1,
				pointHitRadius: 10,
				data: []
			}
		]
	};

	let options = {
		scales: {
			x: {
				type: 'linear',
				title: {
					display: true,
					text: 'Target Number',
					font: {
						size: $enhanced_accessibility ? 20 : 12
					}
				},
				min: 0,
				max: 25
			},
			y: {
				title: {
					display: true,
					text: 'Probability',
					font: {
						size: $enhanced_accessibility ? 20 : 12
					}
				},
				min: 0,
				max: 100
			}
		}
	};

	import {
		Chart as ChartJS,
		Title,
		Tooltip,
		Legend,
		LineElement,
		LinearScale,
		PointElement,
		CategoryScale
	} from 'chart.js';
	import type { RollType } from '$lib/bindings/RollType';
	import type { RollStatistics } from '$lib/bindings/RollStatistics';
	import { Colors } from '$lib/enum';
	import { accessibility_font_size, enhanced_accessibility } from '$lib/utils';

	ChartJS.register(Title, Tooltip, Legend, LineElement, LinearScale, PointElement, CategoryScale);
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<Modal
	outsideclose
	title="Roll Analysis"
	bind:open
>
	<div class="grid grid-cols-3">
		<div>
			<Label class={font_size}>
				<T keyName="number_skill_dices" />
			</Label>
			<Spinbox bind:value={number_dices} />
		</div>
		<div>
			<Label class={font_size}>
				<T keyName="number_rolls" />
			</Label>
			<Spinbox
				max={1000000}
				bind:value={number_rolls}
			/>
		</div>
		<div>
			<Label class={font_size}>
				<T keyName="roll_type" />
			</Label>
			<Select
				backend_items={roll_types}
				auto_labels={true}
				bind:value={current_roll_type}
			/>
		</div>
		<div>
			<Toggle
				size={$enhanced_accessibility ? 'large' : 'default'}
				bind:checked={weary}
			>
				<T keyName="weary" />
			</Toggle>
		</div>
		<div>
			<Toggle
				size={$enhanced_accessibility ? 'large' : 'default'}
				bind:checked={miserable}
			>
				<T keyName="miserable" />
			</Toggle>
		</div>
	</div>

	<Line
		{...{
			...{}
			/* @ts-expect-error: typing is too awful here */
		}}
		{data}
		{options}
	/>

	{#if roll_statistics !== null}
		<div>
			<div>
				<Label class={font_size}>
					<T keyName="average_value" />: {roll_statistics.average_value}
				</Label>
			</div>
			<div>
				<Label class={font_size}>
					<T keyName="average_tengwar" />: {roll_statistics.average_tengwar}
				</Label>
			</div>
		</div>
	{/if}

	<Button
		class={font_size}
		on:click={roll}
	>
		<T keyName="roll" />
	</Button>
</Modal>
