<script lang="ts">
	import { Modal, Button, Textarea } from 'flowbite-svelte';
	import { T } from '@tolgee/svelte';
	import { accessibility_font_size, enhanced_accessibility } from '$lib/utils';

	export let open: boolean;

	function init() {
		text = '';
	}

	function shuffle(array: string[]) {
		let currentIndex = array.length;

		// While there remain elements to shuffle...
		while (currentIndex != 0) {
			// Pick a remaining element...
			let randomIndex = Math.floor(Math.random() * currentIndex);
			currentIndex--;

			// And swap it with the current element.
			[array[currentIndex], array[randomIndex]] = [array[randomIndex], array[currentIndex]];
		}
	}

	async function roll() {
		let elements = text.split('\n');
		shuffle(elements);
		text = elements.join('\n').toString();
	}

	let text = '';

	// eslint-disable-next-line @typescript-eslint/no-unused-expressions
	$: open && init();
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<Modal
	outsideclose
	title="Shuffle List"
	bind:open
>
	<Textarea
		unWrappedClass={font_size}
		style="height: 200px"
		bind:value={text}
	/>

	<Button
		class={font_size}
		on:click={roll}
	>
		<T keyName="roll" />
	</Button>
</Modal>
