<script lang="ts">
	import { character } from '$lib/utils.js';
	import Equipments from '$lib/character/Equipments.svelte';

	export let data;
</script>

<div>
	{#if $character !== null}
		<Equipments
			equipment_type={data.equipment}
			bind:character={$character}
		/>
	{/if}
</div>
