<script lang="ts">
	import {
		tolgee,
		is_player,
		enhanced_accessibility,
		accessibility_font_size
	} from '$lib/utils.js';
	import { store_set, store_get } from '$lib/store';
	import { auth as player_auth } from '$lib/queries';
	import { Label, Select, Toggle } from 'flowbite-svelte';
	import { T, getTranslate } from '@tolgee/svelte';
	import { onMount } from 'svelte';
	import type { ConnectionAuth } from '$lib/bindings/ConnectionAuth';

	const { t } = getTranslate();

	onMount(() => {
		init();
	});

	async function init() {
		// Default value => cannot be null
		language = (await store_get('language', 'en')) as string;
	}

	async function handleLanguageChange(e: Event) {
		let lang = (e.target as HTMLSelectElement).value;
		tolgee.changeLanguage(lang);
		language = lang;
		await store_set('language', lang);
	}

	async function update_is_player() {
		await store_set('is_player', String($is_player));
	}

	let language = 'en';
	const all_languages = [
		{ value: 'en', name: 'English' },
		{ value: 'fr', name: 'Français' },
		{ value: 'es', name: 'Español' }
	];

	const all_modes = [
		{ value: true, name: $t('Player') },
		{ value: false, name: $t('Loremaster') }
	];

	let auth: ConnectionAuth = {
		username: '',
		secret: ''
	};

	function set_auth_username(is_player: boolean) {
		if (is_player) {
			auth.username = '';
		} else if ($player_auth != null) {
			auth.username = $player_auth.username;
		}
	}

	async function update_accessibility() {
		await store_set('accessibility', String($enhanced_accessibility));
	}

	$: set_auth_username($is_player);
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<div class="main">
	<div class="grid">
		<div>
			<Label class={font_size}>
				<T keyName="mode" />
			</Label>
			<Select
				items={all_modes}
				on:change={update_is_player}
				bind:value={$is_player}
			/>
		</div>
		<div>
			<Label class={font_size}>
				<T keyName="language" />
			</Label>
			<Select
				items={all_languages}
				bind:value={language}
				on:change={handleLanguageChange}
			/>
		</div>
		<div>
			<Label class={font_size}>
				<T keyName="enhanced_accessibility" />
			</Label>
			<Toggle
				size={$enhanced_accessibility ? 'large' : 'default'}
				bind:checked={$enhanced_accessibility}
				on:change={update_accessibility}
			/>
		</div>
	</div>
</div>

<style>
	.main {
		height: 70vh;
	}
</style>
