<script lang="ts">
	import { character } from '$lib/utils.js';
	import SecondaryAttribute from '$lib/character/SecondaryAttribute.svelte';

	export let data;
</script>

<div>
	{#if $character !== null}
		<SecondaryAttribute
			character={$character}
			secondary_attribute={data.secondary_attribute}
		/>
	{/if}
</div>
