<script lang="ts">
	import {
		set_character,
		print_enum,
		enhanced_accessibility,
		accessibility_font_size
	} from '$lib/utils';
	import { Label, ListgroupItem } from 'flowbite-svelte';
	import { TrashBinSolid } from 'flowbite-svelte-icons';
	import type { Character } from './bindings/Character';

	export let id: number;
	export let character: Character;
	export let delete_character: (a: number | null) => Promise<void> | void = () => {};

	function redirect() {
		set_character(id);
		location.href = '/frontend/character';
	}
	$: font_size = $enhanced_accessibility ? accessibility_font_size : 'text-xs';
</script>

<div class="flex">
	<ListgroupItem on:click={redirect}>
		<div class="grid w-full grid-cols-1 gap-4 sm:grid-cols-4">
			<Label class={font_size}>{character.name}</Label>
			{#if character != null}
				<Label class={font_size}>{print_enum(character.culture)}</Label>
				<Label class={font_size}>{print_enum(character.calling)}</Label>
			{/if}
		</div>
	</ListgroupItem>
	<button
		type="button"
		on:click={() => delete_character(character.id)}
	>
		<TrashBinSolid size={$enhanced_accessibility ? 'lg' : 'md'} />
	</button>
</div>
