<script lang="ts">
	import { Label, Hr } from 'flowbite-svelte';
	import { T } from '@tolgee/svelte';
	import { accessibility_font_size, enhanced_accessibility } from './utils';

	export let label;
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<tr>
	<td
		class="text-center"
		colspan="2"
	>
		<Hr />
		<Label class="mb-5 font-bold {font_size}">
			<T keyName={label} />
		</Label>
	</td>
</tr>
