<script
	lang="ts"
	generics="MyType extends number|string|string[]|null"
>
	import { accessibility_font_size, enhanced_accessibility } from './utils';

	import { Label, Input, Textarea, Toggle } from 'flowbite-svelte';
	import { T } from '@tolgee/svelte';
	import Spinbox from '$lib/Spinbox.svelte';
	import { createEventDispatcher } from 'svelte';
	import Select from '$lib/Select.svelte';
	import { FieldTypes } from './enum';

	const dispatch = createEventDispatcher();

	// @ts-expect-error Not sure what is going on
	// eslint-disable-next-line no-undef
	export let value: MyType = null;
	export let checked: boolean = false;
	export let label: string;
	export let field_type: FieldTypes = FieldTypes.Text;
	export let select_backend_values: (number | string)[] | undefined = undefined;
	export let select_shown_values: string[] | undefined = undefined;
	export let select_auto_labels: boolean = false;
	export let in_table: boolean = true;

	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

{#if in_table}
	<tr>
		<td>
			<Label class={font_size}>
				<T keyName={label} />
			</Label>
		</td>
		<td>
			{#if field_type == FieldTypes.Text}
				<Input
					class={font_size}
					type="text"
					bind:value
					on:change={(event) => {
						dispatch('change', event);
					}}
				/>
			{:else if field_type == FieldTypes.TextArea}
				<Textarea
					unWrappedClass={font_size}
					{...{
						...{}
						/* @ts-expect-error Checking above for type */
					}}
					bind:value
					on:change={(event) => {
						dispatch('change', event);
					}}
				/>
			{:else if field_type == FieldTypes.Number}
				<Spinbox
					{...{
						...{}
						/* @ts-expect-error Checking above for type */
					}}
					bind:value
					on:change={(event) => {
						dispatch('change', event);
					}}
				/>
			{:else if field_type == FieldTypes.Bool}
				<div class="flex justify-center">
					<Toggle
						size={$enhanced_accessibility ? 'large' : 'default'}
						bind:checked
						on:change={(event) => {
							dispatch('change', event);
						}}
					/>
				</div>
			{:else if field_type == FieldTypes.Select}
				<Select
					{...{
						...{}
						/* @ts-expect-error Checking above for type */
					}}
					auto_labels={select_auto_labels}
					backend_items={select_backend_values}
					shown_items={select_shown_values}
					bind:value
					on:change={(event) => {
						dispatch('change', event);
					}}
				/>
			{:else}
				ERROR TODO
			{/if}
		</td>
	</tr>
{:else}
	<div>
		<Label class={font_size}>
			<T keyName={label} />
		</Label>
		{#if field_type == FieldTypes.Text}
			<Input
				class={font_size}
				type="text"
				bind:value
				on:change={(event) => {
					dispatch('change', event);
				}}
			/>
		{:else if field_type == FieldTypes.TextArea}
			<Textarea
				{...{
					...{}
					/* @ts-expect-error Checking above for type */
				}}
				bind:value
				on:change={(event) => {
					dispatch('change', event);
				}}
			/>
		{:else if field_type == FieldTypes.Number}
			<Spinbox
				{...{
					...{}
					/* @ts-expect-error Checking above for type */
				}}
				bind:value
				on:change={(event) => {
					dispatch('change', event);
				}}
			/>
		{:else if field_type == FieldTypes.Bool}
			<div class="flex justify-center">
				<Toggle
					size={$enhanced_accessibility ? 'large' : 'default'}
					bind:checked
					on:change={(event) => {
						dispatch('change', event);
					}}
				/>
			</div>
		{:else if field_type == FieldTypes.Select}
			<Select
				{...{
					...{}
					/* @ts-expect-error Checking above for type */
				}}
				auto_labels={select_auto_labels}
				backend_items={select_backend_values}
				shown_items={select_shown_values}
				bind:value
				on:change={(event) => {
					dispatch('change', event);
				}}
			/>
		{:else}
			ERROR TODO
		{/if}
	</div>
{/if}

<style>
	tr {
		height: 3em;
	}
</style>
