<script lang="ts">
	import { Label, Modal, Button } from 'flowbite-svelte';
	import Spinbox from '$lib/Spinbox.svelte';
	import { T } from '@tolgee/svelte';
	import { accessibility_font_size, enhanced_accessibility } from './utils';

	export let open = false;
	export let label = '';
	export let submit_function: (_label: string, increase: number) => Promise<void>;

	async function submit() {
		await submit_function(label, increase);
		increase = 0;
		open = false;
	}
	let increase = 0;
	$: font_size = $enhanced_accessibility ? accessibility_font_size : 'text-xs';
</script>

<Modal
	outsideclose
	bind:open
>
	<Label class={font_size}>
		<T keyName="increase_{label}" />
	</Label>
	<Spinbox
		min={-10000}
		bind:value={increase}
	/>
	<Button
		class={font_size}
		on:click={submit}
	>
		<T keyName="submit" />
	</Button>
</Modal>
