<script lang="ts">
	import { enhanced_accessibility } from './utils';

	export let on_click;
	const hover = 'hover:bg-gray-200 dark:hover:bg-gray-600';
	$: size = $enhanced_accessibility ? '5' : '2';
</script>

<button
	id="increment-button"
	class="h-11 rounded-e-lg border border-gray-300 bg-gray-100 p-3 {hover} focus:outline-none focus:ring-2 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:focus:ring-gray-700"
	data-input-counter-increment="quantity-input"
	type="button"
	on:click={on_click}
>
	<svg
		class="h-3 w-3 text-gray-900 dark:text-white"
		aria-hidden="true"
		fill="none"
		viewBox="0 0 18 18"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M9 1v16M1 9h16"
			stroke="currentColor"
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width={size}
		/>
	</svg>
</button>
