<script lang="ts">
	// Based on Progressbar from flowbite-svelte
	import { twMerge, twJoin } from 'tailwind-merge';
	import ProgressModal from '$lib/ProgressModal.svelte';
	import { accessibility_font_size, enhanced_accessibility, is_dark } from '$lib/utils';
	import { getTranslate } from '@tolgee/svelte';
	import type { HateEnum } from './bindings/HateEnum';
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();

	// t is store
	const { t } = getTranslate();

	// Threshold for changing color (e.g. shadow / fatigue)
	export let threshold = 0;
	// Current value
	export let current = 0;
	// Max possible
	export let max = 0;
	// Enable / disable the modal for changing vlaue
	export let enable_modal = true;
	// Show the values in the bar
	export let show_values: boolean = true;

	$: size = $enhanced_accessibility ? 'h-12' : 'h-4';
	// export let color = 'primary';
	let divClass = 'w-full bg-gray-200 rounded-full dark:bg-gray-700';
	$: progress = (100 * current) / max;
	$: color = current < threshold ? 'bg-red' : 'bg-green';
	$: text_color = is_dark() ? 'text-primary-100' : '';
	let open: boolean;
	export let label: 'endurance' | 'hope' | HateEnum;
	$: font_size = $enhanced_accessibility ? accessibility_font_size : 'text-xs';
	$: labelInsideClass = `font-medium text-center p-0.5 leading-none rounded-full ${font_size}`;
</script>

<div>
	{#if enable_modal}
		<ProgressModal
			{label}
			on:submit={(event) => {
				dispatch('submit', event.detail);
			}}
			bind:open
		/>
	{/if}
	<div
		class={twMerge(divClass, size, $$props.class)}
		on:click={() => {
			open = true;
		}}
	>
		<div
			style:width="{progress}%"
			style:height="100%"
			class={twJoin(labelInsideClass, color, text_color)}
		/>
		{#if show_values}
			<div
				style:width="100%"
				style:height="100%"
				style:margin-top="-1.4em"
				class={twJoin(labelInsideClass, text_color)}
			>
				{current} / {max}
				{#if threshold != 0}
					({$t('threshold')}
					{threshold})
				{/if}
			</div>
		{/if}
	</div>
</div>
