<script lang="ts">
	import { Label, Modal, Button } from 'flowbite-svelte';
	import Spinbox from '$lib/Spinbox.svelte';
	import { T } from '@tolgee/svelte';
	import type { HateEnum } from './bindings/HateEnum';
	import { createEventDispatcher } from 'svelte';
	import { accessibility_font_size, enhanced_accessibility } from './utils';
	const dispatch = createEventDispatcher();

	export let open = false;
	export let label: 'endurance' | 'hope' | HateEnum;
	export let increase = 0;

	function submit() {
		dispatch('submit', { increase: increase });
		increase = 0;
		open = false;
	}
	$: font_size = $enhanced_accessibility ? accessibility_font_size : 'text-xs';
</script>

<Modal
	outsideclose
	bind:open
>
	<Label class={font_size}>
		<T keyName="how_much_{label}_increase" />
	</Label>
	<Spinbox
		min={-10000}
		bind:value={increase}
	/>
	<Button
		class={font_size}
		on:click={submit}
	>
		<T keyName="submit" />
	</Button>
</Modal>
