<script lang="ts">
	import { Button, Hr, Label, Modal } from 'flowbite-svelte';
	import {
		get_combat_skills,
		get_secondary_attributes,
		get_skills,
		roll as roll_query
	} from '$lib/queries';
	import type { SkillEnum } from './bindings/SkillEnum';
	import type { CombatSkillEnum } from './bindings/CombatSkillEnum';
	import type { RollType } from './bindings/RollType';
	import { type SecondaryAttributeEnum } from './enum';
	import { T } from '@tolgee/svelte';
	import Spinbox from './Spinbox.svelte';
	import Select from './Select.svelte';
	import Dice from './icons/Dice.svelte';
	import { accessibility_font_size, character_id, enhanced_accessibility } from './utils';
	import { toast } from '@zerodevx/svelte-toast';
	import type { SkillType } from './bindings/SkillType';
	import { onMount } from 'svelte';
	import FeatDice from './icons/FeatDice.svelte';
	import SkillDice from './icons/SkillDice.svelte';
	import type { CharacterRoll } from './bindings/CharacterRoll';

	type Enum = SkillEnum | CombatSkillEnum | SecondaryAttributeEnum | 'Protection';
	// Skill to roll
	export let label: Enum;

	onMount(() => {
		init();
	});

	async function init(): Promise<void> {
		combat_skills = (await get_combat_skills()).expect('Failed to fetch combat skills');
		skills = (await get_skills()).expect('Failed to fetch skills');
		secondary_attributes = (await get_secondary_attributes()).expect(
			'Failed to get secondary skills'
		);
	}

	function convert_to_skill_type(label: Enum): SkillType {
		if (combat_skills.includes(label as CombatSkillEnum)) {
			return { Combat: label as CombatSkillEnum };
		}
		if (secondary_attributes.includes(label as SecondaryAttributeEnum)) {
			return { SecondaryAttribute: label as SecondaryAttributeEnum };
		}
		if (skills.includes(label as SkillEnum)) {
			return { Skill: label as SkillEnum };
		}
		if (label == 'Protection') {
			return label;
		}
		throw 'Failed to find label category';
	}

	async function roll() {
		if ($character_id == null) {
			toast.push('Character is null, should not happen. Please contact me');
			return;
		}
		let skill_type = convert_to_skill_type(label);
		let roll_type = current_roll_type == '' ? null : current_roll_type;
		last_result = (await roll_query($character_id, skill_type, bonus, roll_type)).expect(
			'Failed to roll'
		);
	}

	// Number of bonus dices
	let bonus: number = 0;
	// Is the modal open or close?
	let open = false;
	// The current roll type selected
	let current_roll_type: RollType | '';

	// The list of available combat skills
	let combat_skills: CombatSkillEnum[] = [];
	// The list of available skills
	let skills: SkillEnum[] = [];
	// The list of available secondary attributes
	let secondary_attributes: SecondaryAttributeEnum[] = [];

	let last_result: CharacterRoll | null;
	// The list of available roll types
	const roll_types: (RollType | '')[] = ['', 'Favoured', 'Normal', 'IllFavoured'];
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<div class="place-self-center">
	<Dice on:click={() => (open = true)} />
	<Modal
		outsideclose
		bind:open
		title={`Rolling for ${label}`}
	>
		<div>
			<Label class={font_size}>
				<T keyName="how_many_bonus_dices" />
			</Label>
			<Spinbox
				min={-20}
				max={20}
				bind:value={bonus}
			/>
			<Label class={font_size}>
				<T keyName="override_roll_type" />
			</Label>
			<Select
				auto_labels
				backend_items={roll_types}
				bind:value={current_roll_type}
			/>
			<Button
				class="mt-2 {font_size}"
				on:click={roll}
			>
				<T keyName="roll" />
			</Button>
		</div>
		{#if last_result != null}
			<Hr />
			<div class="flex">
				<FeatDice value={last_result.roll.feat_dice} />
				{#each last_result.roll.success_dices as dice}
					<SkillDice value={dice} />
				{/each}
				<Label class="m-auto text-lg {font_size}">
					{#if last_result.success != null}
						{#if last_result.success}
							<T keyName="success" />
						{:else}
							<T keyName="failure" />
						{/if}
						{#if last_result.roll.total != null}
							({last_result.roll.total})
						{/if}
					{:else}
						{last_result.roll.total}
					{/if}
				</Label>
			</div>
		{/if}
	</Modal>
</div>
