<script lang="ts">
	import { accessibility_font_size, is_dark, enhanced_accessibility } from '$lib/utils';
	import { Button } from 'flowbite-svelte';
	import { FloppyDiskSolid, TrashBinSolid } from 'flowbite-svelte-icons';
	import { T } from '@tolgee/svelte';

	export let save: () => Promise<void> | void = async () => {};
	export let reset: () => Promise<void> | void = async () => {};
	$: color = is_dark() ? 'white' : 'black';
	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<div class="mt-5 flex justify-center gap-2">
	<Button
		class={font_size}
		on:click={save}
	>
		<FloppyDiskSolid
			size={$enhanced_accessibility ? 'xl' : 'md'}
			{color}
		/>
		<T keyName="save" />
	</Button>
	<Button
		class={font_size}
		on:click={reset}
	>
		<TrashBinSolid
			size={$enhanced_accessibility ? 'xl' : 'md'}
			{color}
		/>
		<T keyName="reset" />
	</Button>
</div>
