<script lang="ts">
	import { Helper, Select } from 'flowbite-svelte';
	import { Colors } from './enum';
	import { toast } from '@zerodevx/svelte-toast';
	import { createEventDispatcher } from 'svelte';
	import { convert_to_select } from './select';
	import { enhanced_accessibility, print_enum } from './utils';

	const dispatch = createEventDispatcher();

	export let validate = async () => {
		return { ok: true, text: '' };
	};

	// The value as provided in the backend
	export let value: string | null = null;
	// The list of items provided by the backend
	export let backend_items: string[];
	// The list of items shown to the user (must be in the same order)
	export let shown_items: string[] | null = null;
	// Disable the interaction
	export let disabled = false;
	// Should display an error message?
	export let error = false;
	// Error text to display
	export let error_text = '';
	// Automatically managed the labels for the shown items?
	export let auto_labels = false;

	function generate_shown_items(items: string[]): string[] {
		return items.map((x) => print_enum(x));
	}
	async function update_value(event: Event | null) {
		if (shown_items === null || backend_items.length != shown_items.length) {
			if (auto_labels) {
				shown_items = generate_shown_items(backend_items);
			} else {
				console.log(backend_items, shown_items, auto_labels);
				toast.push('Backend and shown items are not the same length. Please contact me');
				throw 'Backend and shown items should have the same size';
			}
		}

		// When initializing, the index is null but we can already
		// have a value => avoid erasing it
		if ((event === null && current_index === null) || current_index == -1) {
			current_index = backend_items.findIndex((x) => x == value);
		}

		// Prevent undefined behavior on value
		if (current_index == undefined) {
			dispatch('change', event);
			return;
		}

		if (current_index != -1) {
			value = backend_items[current_index];
		}

		let valid = await validate();
		error_text = valid.text;
		error = !valid.ok;
		if (event != null) {
			dispatch('change', event);
		}
	}

	$: select_items = convert_to_select(auto_labels ? backend_items : shown_items);
	// eslint-disable-next-line @typescript-eslint/no-unused-expressions
	$: backend_items && update_value(null);
	let current_index: number | null = null;
</script>

<div>
	<Select
		size={$enhanced_accessibility ? 'lg' : 'md'}
		class="mt-2"
		{disabled}
		items={select_items}
		bind:value={current_index}
		on:change={update_value}
	/>
	{#if error}
		<Helper style="color: {Colors.Red} ">{error_text}</Helper>
	{/if}
</div>
