<script lang="ts">
	import Plus from './Plus.svelte';
	import Minus from './Minus.svelte';
	import { accessibility_font_size, enhanced_accessibility } from './utils';

	export let value: number;
	export let min = 0;
	export let max = 10000;
	export let on_increase: (inc: number) => Promise<boolean> = async () => {
		return true;
	};
	export let disabled = false;
	export let disabled_minus = false;
	export let disabled_plus = false;

	async function own_increase(inc: number) {
		let increase = await on_increase(inc);
		if (increase) {
			let new_value = Math.min(Math.max(Number(value) + inc, min), max);
			value = new_value;
		}
	}
	$: font_size = $enhanced_accessibility ? accessibility_font_size : 'text-sm';
</script>

<div class="relative m-auto flex max-w-[8rem] items-center">
	{#if !disabled && !disabled_minus}
		<Minus on_click={() => own_increase(-1)} />
	{/if}
	<input
		class="block h-11 w-full border-x-0 border-gray-300 bg-gray-50 py-2.5 text-center {font_size} text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
		data-input-counter
		{disabled}
		type="number"
		bind:value
	/>
	{#if !disabled && !disabled_plus}
		<Plus on_click={() => own_increase(1)} />
	{/if}
</div>

<style>
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
		appearance: textfield;
	}
</style>
