<script lang="ts">
	import { Label } from 'flowbite-svelte';
	import { T } from '@tolgee/svelte';
	import {
		enhanced_accessibility,
		label_class as main_class,
		accessibility_font_size
	} from '$lib/utils';

	export let label_class = '';
	export let up: string | number;
	export let down: string;
	export let onclick = () => {};
	export let href: null | string = null;

	$: font_size = $enhanced_accessibility ? accessibility_font_size : '';
</script>

<a
	{href}
	on:click={onclick}
>
	<Label class="{main_class} {font_size}">
		<div>
			{String(up)}
		</div>
		<div class="{label_class} {font_size}">
			<T keyName={down} />
		</div>
	</Label>
</a>
